@model dynamic

@{
    ViewBag.Title = "Adjudicator (The Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Adjudicator</h2>

<p>The Adjudicator is a village-aligned role. Every night they can examine a player to determine whether they are capable of killing or not.</p>

<h3>Role Type</h3>
<ul>
     <li>The Adjudicator is seen as member of the village by the Seer.</li>
     <li>The Adjudicator is not seen as a user of witchcraft.</li>
     <li>The Adjudicator is seen visiting by the Harlot/Stalker/Familiar.</li>
 </ul>

<h3>Notes</h3>
<ul>
    <li>You cannot distinguish between village-aligned killers (e.g. Huntsman) or evil (e.g. Vampires or Witches)</li>
    <li>All werewolves, even those that do not actively kill, such as Bloodhounds, are considered killers</li>
</ul>

<h3>History</h3>
<p>2019-01-01: Adjudicator introduced in ext-300</p>
