@model dynamic

@{
    ViewBag.Title = "Diseased (The Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Diseased</h2>

<p>The Diseased is a normal villager, but not a very nice tasting one. If the Wolfpack target the Diseased as their kill, they will suffer food posioning and not be able to kill the following night.</p>
<p>The Diseased does not affect an Omegawolf kill, or any non-wolfpack kills.</p>

<h3>Role Type</h3>
<ul>
    <li>The Diseased is seen as member of the village by the Seer.</li>
    <li>The Diseased is not seen as a user of witchcraft.</li>
    <li>The Diseased is not seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>
