@model dynamic

@{
    ViewBag.Title = "Grand Vizier (The Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Grand Vizier</h2>

<p>The Grand Vizier is a member of the Village. They tried casting a spell on themselves to give themselves extra powers to help the Village, but this backfired on them and now they have a random power every night.</p>

<h3>Notes on the Grand Vizier</h3>
<ul>
    <li>Each morning you will be allocated a new Village-aligned Witchcraft role. (Beholder, Protector, Reviver, or Seer)</li>
    <li>The Grand Vizier does not have a role on Night 1</li>
    <li>The Grand Vizier may be allocated the same role multiple days in a row.</li>
    <li>The Grand Vizier behaves exactly like their random-role, so they are seen as a member of the Village, a user of Witchcraft, and visiting their targets.</li>
</ul>

<h3>Tips for playing Grand Vizier</h3>
<ul>
    <li>People can be distrusting of a Grand Vizier as they are not a constant source of power/intel which can be a convenient claim for evil Witchcraft users.</li>
    <li>If you do not use your ability the night you get it, it may be lost the next morning when you get allocated a new role, so try to make the best use out of each ability that you get.</li>
</ul>

<h3>History</h3>
<p>2018-01-01: Grand Vizier introduced in ext-200</p>
