@model dynamic

@{
    ViewBag.Title = "Grand Vizier (The Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Grand Vizier</h2>

<p>The Grand Vizier is a member of the Village. They tried casting a spell on themselves to give themselves extra powers to help the Village, but this backfired on them and now they have a random power every night.</p>

<h3>Role Type</h3>
<ul>
     <li>The Grand Vizier is seen as member of the village by the Seer.</li>
     <li>The Grand Vizier is seen as a user of witchcraft.</li>
     <li>The Grand Vizier is seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h3>Notes on the Grand Vizier</h3>
<ul>
    <li>Each morning the Grand Vizier will be allocated a Witchcraft ability from a Village-aligned role. (Beholder, Protector, Reviver, or Seer)</li>
    <li>The Grand Vizier does not get allocated an ability to use for Night 1</li>
    <li>The Grand Vizier may be allocated the same ability multiple days in a row.</li>
    <li>The Grand Vizier behaves exactly like the role from which their ability comes.</li>
</ul>

<h3>Tips for playing Grand Vizier</h3>
<ul>
    <li>People can be distrusting of a Grand Vizier as they are not a constant source of power/intel which can be a convenient claim for evil Witchcraft users.</li>
    <li>If you do not use your ability the night you get it, it may be lost the next morning when you get allocated a new role, so try to make the best use out of each ability that you get.</li>
</ul>

<h3>History</h3>
<p>2018-01-01: Grand Vizier introduced in ext-200</p>
