@model dynamic

@{
    ViewBag.Title = "Gravedigger (The Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Gravedigger</h2>

<p>The Gravedigger is able to discover the exact role of a dead player at night.</p>

<h3>Role Type</h3>
<ul>
     <li>The Gravedigger is seen as member of the village by the Seer.</li>
     <li>The Gravedigger is not seen as a user of witchcraft.</li>
     <li>The Gravedigger is seen visiting by the Harlot/Stalker/Familiar.</li>
     <li>The Gravedigger is not seen as a killer by the Adjudicator.</li>
 </ul>

<h3>Notes</h3>
<ul>
    <li>If the Gravedigger checks the corpse of a Shapeshifter who successfully shifted away, their report will come up as "Undetermined".</li>
    <li>If, after a successful shift, the Shapeshifter dies and is checked, their report will come up as "Werewolf".</li>
</ul>

<h3>Tips for playing Gravedigger</h3>
<ul>
    <li>If somebody claims to have incriminating evidence on somebody and wants that person lynched, a Gravedigger's information may at least verify whether the evidence was real or fake.</li>
    <li>Your information can help to guide a Reviver to pick the right target. This is why you should speak up when you find an important role in the Graveyard. On the other hand, you may want to keep some information hidden about the Graveyard. For example, revealing that some/all protective roles are in the Graveyard may do more harm than good to the village, because now the evil factions know this as well.</li>
    <li>If you find an uncommon role (village or evil) in the Graveyard, it may be wise to speak up - it may be very important information for the village to understand more about the setup of the game. For example: games including a Witch Hunter will have a greater-than-average chance to include Shapeshifters and/or Coven members.</li>
    <li>Getting an "Undetermined" report, i.e. finding a Shapeshifter who shifted away, is something you should definitely share with the village - your report indicates that an important/trusted village member may have been shifted into, and sharing this information may turn the whole game around!</li>
    <li>There is one exception to the Gravedigger's ability to discover the exact role of a dead character: the Familiar. The Gravedigger cannot discover the role type of the Familiar (Stalker/Gravedigger/Militia).<li>
</ul>
