@model dynamic

@{
    ViewBag.Title = "Graverobber (The Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Graverobber</h2>

<p>The Graverobber can steal up to one role from a dead player. Before they steal a role they are a member of the village, but once they have stolen a role their alignment corresponds with their new role. There are a few exceptions to the roles that the Graverobber can take. If the Graverobber attempts to steal one of these roles, nothing happens and the Graverobber can try again next night. Once the Graverobber has stolen a role, they continue the game as that role and have no option to try and steal another role.</p>

<h3>Role Type</h3>
<ul>
    <li>The Graverobber is seen as member of the village by the Seer.</li>
    <li>The Graverobber is not seen as a user of witchcraft.</li>
    <li>The Graverobber is seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h3>Notes</h3>
<ul>
    <li>The information given in the Role Type section is only true if the Graverobber has not taken on a new identity yet - once they have a new role, all role characteristics correspond to that role.</li>
    <li>Their is no way to distinguish between a player who has a role from the start of the game and a player who has stolen the role during the game.</li>
    <li>If the Graverobber has targeted an appropriate role, they take on the role at dawn. Before dawn, they are still considered to be a Graverobber, and any roles targeting them will be carried out accordingly. For example: the Seer checks the Graverobber the night they steal the role of a member of the Wolfpack. The Seer still gets the report that they have found a member of the village.</li>
    <li>If the Graverobber successfully steals a role, they will be able to use it from the next night onwards, but not the same night as they stole the role.</li>
    <li>The following roles can not be robbed: the Villager, the Lycan, the Insomniac, the Sleepwalker; the Puppet Master, the Djinn, the Succubus; the Vampire, the Familiar. Additionally, you cannot steal the role of somebody who has been shapeshifted into (a person whose Gravedigger report comes up as 'Undetermined').</li>
</ul>

<h3>Tips for playing Graverobber</h3>
<ul>
    <li>The Graverobber is very versatile, because you can become many different roles and may even change the faction to which you belong. This means that there are many ways in which to play this role - there is not one single defined way to play it. Nevertheless, some general guidelines can be given.</li>
    <li>If you wish to help the village, it is generally safe to try to steal the roles of people that die in the night. This only holds if there is no Vampire or Coven present. You should also only steal the roles of people that were the only one to die (if there are 2 deaths, one may be a wolf and the other a Huntsman, for example). This way, it is highly unlikely that you will not steal a village-aligned role.</li>
    <li>It is possible to start robbing people from N2 onwards, to try to assume a role as soon as possible. You can also wait until some more information comes up about the people that are dead, e.g. until a Gravedigger shares their information about the Graveyard.</li>
    <li>You can state publicly which role you have, although the village may be suspicious of you - they cannot be sure that you will not change your alignment during the game! Evil factions may also want you dead if they expect that you will steal a village-aligned role. In that sense, the Graverobber is in a tricky position because they have no certain allies...</li>
    <li>It is possible to deduce information about the players whose roles you attempt to steal, but are not able to assume - you know for certain that these players have roles mentioned in the exceptions list. You can use this information to verify claims made by other people.</li>
</ul>
