@model dynamic

@{
    ViewBag.Title = "Grave Warden (The Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Grave Warden</h2>

<p>The Grave Warden is able to visit a dead player at night. Any other players visiting the Grave Warden's target will be role-blocked</p>

<h3>Role Type</h3>
<ul>
     <li>The Grave Warden is seen as member of the village by the Seer.</li>
     <li>The Grave Warden is not seen as a user of Witchcraft.</li>
     <li>The Grave Warden is seen visiting by the Stalker/Familiar.</li>
 </ul>

<h3>Notes</h3>
<ul>
    <li>The Grave Warden acts as a role-blocker towards roles that visit the Grave Warden's target</li>
    <li>The Grave Warden can block a reviving role (Reviver, Grand Vizier, Witch, Necromancer, Revenant) from reviving their target</li>
    <li>The Grave Warden can block a Ghoul from feeding on their target</li>
    <li>The Grave Warden can block a Gravedigger from learning the role of their target, as well as a Graverobber from robbing the role of their target</li>
    <li>The Grave Warden cannot block a role with night-immunity</li>
</ul>

<h3>Tips for playing Grave Warden</h3>
<ul>
    <li>Grave Warden will usually be found in games with a lot of roles that interact with the Graveyard heavily. As a Grave Warden, you must prioritise visiting targets that will draw evil roles (Witch, Necromancer, Ghoul, etc)</li>
    <li>In a game with Undeads, visiting the right targets might hamper their efforts in role consumption or necromancer swaps, hence slowing their momentum</li>
</ul>

<h3>Role Text</h3>
<ul>
    <li>A player who visits the target of the Grave Warden receives a message in the morning: <strong>"You were role-blocked last night, your night action did not take place."</strong></li>
</ul>

<h3>History</h3>
<p>2018-10-28: Grave Warden introduced in boo-001</p>
