@model dynamic

@{
    ViewBag.Title = "Inquisitor (The Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Inquisitor</h2>

<p>The Inquisitor is a member of the Village and the Inquisition who is able to check a player once per night to see if they require the cleansing fire of the Inquisition.</p>

<h3>Role Type</h3>
<ul>
     <li>The Inquisitor is seen as member of the village by the Seer.</li>
     <li>The Inquisitor is not seen as a user of witchcraft.</li>
     <li>The Inquisitor is seen visiting by the Harlot/Stalker/Familiar.</li>
 </ul>

<h3>Notes on the Inquisitor</h3>
<ul>
    <li>At night you can find if a player is a user of Witchcraft.</li>
</ul>

<h3>Tips for playing Inquisitor</h3>
<ul>
    <li>The Inquisitor can help the Inquisition Leader find suitable recruits by looking for non-recruitable players.</li>
    <li>If the Inquisitor finds a Purifier/WitchHunter, they will receive a special message. As a member of the Inquisition, you will want to recruit this player if possible to further your goal of eradicating Witchcraft.</li>
</ul>

<h3>Role Text</h3>
<ul>
    <li>If you find a Witchcraft user, you will get a message "<strong><em>Player</em> is a Heretic. They should burn</strong>"</li>
    <li>If you find a non-Witchcraft user, you will get a message "<strong><em>Player</em> is Faithful. They can be spared the righteous flame</strong>"</li>
    <li>If you find a Purifier or WitchHunter, you will get a message "<strong><em>Player</em> is a Fanatic. They would make an excellent recruit for the Inquisition</strong>"</li>
</ul>

<h3>History</h3>
<p>2018-01-01: Inquisitor introduced in ext-200</p>
