@model dynamic

@{
    ViewBag.Title = "Inquisition Leader (The Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Inquisition Leader</h2>

<p>The Inquisition Leader is a villager with the ability to recruit other players into the Inquisition. The Inquisition are sworn against all forms of Witchcraft and wish to see all users of Witchcraft (good and evil) eradicated.</p>

<h3>Role Type</h3>
<ul>
     <li>The Inquisition Leader is seen as member of the village by the Seer.</li>
     <li>The Inquisition Leader is not seen as a user of witchcraft.</li>
     <li>The Inquisition Leader is seen visiting by the Harlot/Stalker/Familiar.</li>
 </ul>

<h3>Notes</h3>
<ul>
    <li>The Inquisition Leader is limited to 2 recruits per game.</li>
    <li>If the Inquisition Leader tries to recruit a Werewolf or a Vampire, they are killed.</li>
    <li>The Inquisition Leader is not able to recruit any player who already has a night-faction (Familiar, Coven member, Undead member, Mason, Illuminati Member) or any user of Witchcraft but will not be killed if they try. This failed recruit does not count towards the ability use limit.</li>
    <li>The recruited villager retains their original ability.</li>
    <li>The recruited villager is notified that they have been recruited in the morning and who recruited them, but not who any other Inquisition may be.</li>
    <li>The Inquisition Leader gets a notification if a successful recruit has been made. No notification is given if the recruit is unsuccessful, but in that case the Inquisition Leader can draw their own conclusion...</li>
    <li>If a player is targeted by multiple village sub-factions (Masons, Illuminati, Inquisition) then the recruit will fail for all of them.</li>
    <li>The Inquisition wins only if the village wins AND there isn't a single Witchcraft user left alive at the end of the game.</li>
</ul>

<h3>Tips for playing Inquisition Leader</h3>
<ul>
    <li>An Inquisition Leader is very effective in creating a team of village members that verify each other. It also allows a recruited village member to share their valuable information with the village through another, so without exposing themselves.</li>
    <li>It is usually wise to not recruit the first night; you can give yourself some time to first assess the village. Don't wait too long with your (first) recruit though!</li>
    <li>It depends on the setup whether it is wise to expose yourself before making your recruit. In case you die, the village may at least use the information that you tried to recruit a specific person. But it wouldn't be wise if you suspect there is no one to protect you in the first place, and the presence of Coven members makes your task more difficult as well (a Succubus may redirect you, for example).</li>
    <li>You may, as Inquisition, agree on certain code words with which you can verify each other the following day, by stating them in the village day chat. This helps protect the Inquisition against Djinn-swaps and Shapeshifts, for example.</li>
    <li>In a game with Coven presence, it is relatively easy for the Inquisition to rid the village of Witchcraft users as the Coven faction is full of them. However, this task gets trickier in the case of village Witchcraft users.</li>
    <li>In the case that there are village Witchcraft users, you will need to garner the favour of the village and convince them that the village is better off without Witchcraft. This will be very tricky to achieve as a lot of powerful roles in the village are Witchcraft users.</li>
    <li>Since the Inquisition has to ensure that the surviving village at the end of the game has no Witchcraft users, they can avoiding the lynching of such villagers as long as a purifier is present in the game as they could just purify those roles and still satisfy the Inquisition's win condition.</li>
    <li>As an Inquisition Leader, you have an Inquisitor who can check people of "Heresy" (Witchcraft users). As long as you have either a purifier (for non-violent methods of "cleansing the village") or a WitchHunter/Militia/MapleWolf (for most effective removal of Witchcraft), you can kill/purify Witchcraft users in secrecy.</li>
    <li>Unlike the Masons or Illuminati, you as Inquisition Leader are not required to eliminate any of the subfactions that might be present in the game, unless they have recruits who are Witchcraft users. Even then, you may negotiate with the other subfaction to purify their recruit if their is a purifier in the game (and potentially in your team).</li>
</ul>

<h3>History</h3>
<p>2018-01-01: Inquisition Leader introduced in ext-200</p>
