@model dynamic

@{
    ViewBag.Title = "Mason Sergeant (The Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Mason Sergeant</h2>

<p>The Mason Sergeant is a villager and member of the Masons. They can make a single recruit if their is no Mason Leader alive.</p>

<h3>Role Type</h3>
<ul>
     <li>The Mason Sergeant is seen as member of the village by the Seer.</li>
     <li>The Mason Sergeant is not seen as a user of witchcraft.</li>
     <li>The Mason Sergeant is seen visiting by the Harlot/Stalker/Familiar.</li>
 </ul>

<h3>Notes</h3>
<ul>
    <li>The Mason Sergeant is limited to 1 recruit per game.</li>
    <li>The Mason Sergeant can only recruit if no Mason Leader is alive.</li>
    <li>If the Mason Sergeant tries to recruit a Werewolf or a Vampire, they are killed.</li>
    <li>The Mason Sergeant is not able to recruit any player who already has a night-faction (Familiar, Coven member, Undead member, Illuminati, Inquisition Member), but will not be killed if they try. This failed recruit does not count towards the ability use limit.</li>
    <li>The recruited villager retains their original ability.</li>
    <li>The recruited villager is notified that they have been recruited in the morning and who recruited them, but not who any other Masons may be.</li>
    <li>The Mason Sergeant gets a notification if a successful recruit has been made. No notification is given if the recruit is unsuccessful, but in that case the Mason Sergeant can draw their own conclusion...</li>
    <li>If a player is targeted by multiple Village sub-factions (Masons, Illuminati, Inquisition) then the recruit will fail for all of them.</li>
</ul>
