@model dynamic

@{
    ViewBag.Title = "Militia (The Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Militia</h2>

<p>The Militia is a village-aligned killing role. They can only use their ability to kill once per game.</p>

<h3>Role Type</h3>
<ul>
     <li>The Militia is seen as member of the village by the Seer.</li>
     <li>The Militia is not seen as a user of witchcraft.</li>
     <li>The Militia is seen visiting by the Harlot/Stalker/Familiar.</li>
 </ul>

<h3>Notes</h3>
<ul>
    <li>The Miltia's kill cannot be blocked by the Protector, Huntsman, or Shaman.</li>
    <li>The Militia is unable to kill a role with night-immunity.</li>
</ul>

<h3>Tips for playing Militia</h3>
<ul>
    <li>If the village suspects two players during a given day, and they can only lynch one of both, you can offer to kill the other. It might be wise to not announce your kill, in case the evil factions may make use of this (for example, a Succubus).</li>
    <li>Two deaths in the morning can be confusing. Let the village know you used your power, or you planned to use your power, so they know how to interpret the morning report.</li>
</ul>
