  @model dynamic

@{
    ViewBag.Title = "Mortician (The Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Mortician</h2>

<p>The Mortician is able to discover the exact method a player was killed. The Mortician is also able to determine if the dead player is a member of the undead.</p>

<h3>Role Type</h3>
<ul>
     <li>The Mortician is seen as member of the village by the Seer.</li>
     <li>The Mortician is not seen as a user of witchcraft.</li>
     <li>The Mortician is seen visiting by the Harlot/Stalker/Familiar.</li>
 </ul>

<h3>Notes</h3>
<ul>
    <p>These are the specific reports that a Mortician gets when checking a dead player</p>
      <li>Killed by a Wolf: "Mauled by pointy claws"</li>
      <li>Killed by a Militia: "Shot to the head"</li>
      <li>Killed by a Voodoo doctor: "The brain was missing"</li>
      <li>Killed by a Vampire: "Drained of blood"</li>
      <li>Killed by Lynching: "Hung by the Neck"</li>
      <li>Killed by a Witch: "Killed by Magic"</li>
      <li>Killed by Furie: "Killed by Magic"</li>
</ul>

<h3>Tips for playing Mortician</h3>
<ul>
    <li>Since the report for checking a lynched player is always the same as compared to night kills, you should only dig a lynched player if you have suspicions that they might be an undead member.</li>
    <li></li>
</ul>
