@model dynamic

@{
    ViewBag.Title = "Rune Smith (The Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Rune Smith</h2>

<p>The Rune Smith is a village-aligned role that makes runes.</p>

<h3>Role Type</h3>
<ul>
     <li>The Rune Smith is seen as member of the village by the Seer.</li>
     <li>The Rune Smith is not seen as a user of witchcraft.</li>
     <li>The Rune Smith is not seen as a killer by an Adjudicator.</li>
 </ul>

<h3>Notes</h3>
<ul>
</ul>

<h3>History</h3>
<p>2019-07-02: Rune Smith introduced in ext-333</p>
