@model dynamic

@{
    ViewBag.Title = "Seer (The Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h3>Seer</h3>

<p>Once per night, the Seer can check a player and will learn their alignment in the morning.</p>
<p>Many games are played with a Seer in it, it is considered one of the most powerful and crucial roles on the side of the village.</p>

<h3>Role Type</h3>
<ul>
    <li>The Seer is seen as member of the village by another Seer.</li>
    <li>The Seer is seen as user of witchcraft</li>
    <li>The Seer is seen visiting by the Harlot/Stalker/Familiar.</li>
    <li>The Seer is not seen as a killer by the Adjudicator.</li>
</ul>

<h3>Notes</h3>
<ul>
    <li>Your checks reveal alignment, not the full role (this is a difference from the Bloodhound). Puppets are an exception to this, a check on a Puppet will reveal them as a Puppet and not as "a member of the Coven".</li>
    <li>The Seer's report is mistaken if they target a Lycan, a Maple Wolf, or if their target is marked by the Bloodletter.</li>
</ul>

<h3>Tips for playing Seer</h3>
<ul>
    <li>Remember that the wolves are trying to find you and kill you, they'll be likely to target anyone that appears to know more than they should.</li>
    <li>Don't leave it too long to reveal yourself, the earlier you come forward with information, the more likely it is that a Protector and/or Huntsman are alive.</li>
    <li>Don't underestimate the importance of coming forward with verified (living!) villagers, even though you haven't found a wolf. A few verified villagers may be enough of a core for the village to trust to win the game.</li>
</ul>

<h3>Specialist Seers</h3>
<p>Occasionally you may encounter some specialist seers.</p>
<p>From a gameplay perspective these behave as regular seers, but the results you get from your checks may behave differently.</p>
<p>You won't know what type of seer you are on your own, you will need to work together with the village and other seers to figure out which type of specialist seer you are.</p>

<h4>Insane</h4>
<p>Seen as user of witchcraft</p>
<ul>
    <li>Sees Village (and other roles that appear as village, such as Direwolf) as: member of the Wolfpack</li>
    <li>Sees Wolfpack (and other roles that appear as wolfpack, such as Lycan and Bloodlet targets) as: member of the Village</li>
    <li>Sees Coven as: member of the Village</li>
    <li>Sees Vampires as: member of the Village</li>
    <li>Sees Undeads as: member of the Village</li>
    <li>Sees Tanner (and other roles that appear as neutral, such as Drunk, Essence Thief and Displaced) as: member of the Village</li>
</ul>

<h4>Paranoid</h4>
<p>NOT seen as user of witchcraft</p>
<ul>
    <li>Sees everyone as: member of the Wolfpack</li>
</ul>

<h4>Naive</h4>
<p>NOT seen as user of witchcraft</p>
<ul>
    <li>Sees everyone as: member of the Village</li>
</ul>

<h4>Chaotic</h4>
<p>Seen as user of witchcraft</p>
<ul>
    <li>Sees randomly between "member of the Village" and "member of the Wolfpack"</li>
</ul>

<h4>Novice</h4>
<p>NOT seen as user of witchcraft</p>
<ul>
    <li>Sees Village roles (and other roles that appear as village, such as Direwolf) as: Trustworthy</li>
    <li>Sees non-Village roles (and roles that appear as wolfpack, such as Lycan and Bloodlet targets):</li>
    <ul>
      <li>Untrustworthy (two-thirds chance)</li>
    <li>Trustworthy (one-third chance)</li>
  </ul>
</ul>
