@model dynamic

@{
    ViewBag.Title = "Strongman (The Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Strongman</h2>

<p>The Strongman can cause a village win if they are the only village member left alive againt a single evil. Otherwise, they act as a normal villager.</p>

<h3>Role Type</h3>
<ul>
    <li>The Strongman is seen as member of the village by the Seer (see Notes).</li>
    <li>The Strongman is not seen as a user of witchcraft.</li>
    <li>The Strongman is not seen visiting by the Harlot/Stalker/Familiar (see Notes).</li>
</ul>