@model dynamic

@{
    ViewBag.Title = "Thief (The Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Thief</h2>

<p>The Thief is a villager that has the ability to steal items. At night, the Thief can choose to visit a living player and steal all of their items.</p>

<h3>Role Type</h3>
<ul>
     <li>The Thief is seen as member of the village by the Seer.</li>
     <li>The Thief is not seen as a user of witchcraft.</li>
     <li>The Thief is seen visiting by the Harlot/Stalker/Familiar.</li>
 </ul>

<h3>Notes</h3>
<ul>
    <li>The Thief will not get a report in the morning as to whether their attempt was successful. They have to wait until night to see if they gained any items.</li>
    <li>If the Thief tries to steal from someone holding the Disruption Orb, the attempt will fail.</li>
</ul>

<h2>Crypt Thief</h2>

<p>The Crypt Thief is a villager that steals from the dead. At night, the Crypt Thief can visit a dead player and steal all of the items they had when they died.</p>

<h3>Role Type</h3>
<ul>
     <li>The Crypt Thief is seen as member of the village by the Seer.</li>
     <li>The Crypt Thief is not seen as a user of witchcraft.</li>
     <li>The Crypt Thief is seen visiting by the Harlot/Stalker/Familiar.</li>
 </ul>

<h3>History</h3>
<p>2019-01-01: Thief and Crypt Thief introduced in ext-300</p>
