@model dynamic

@{
    ViewBag.Title = "Witch Hunter (The Village) | werewolv.es | Werewolf and Mafia Roles";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Witch Hunter</h2>

<p>The Witch Hunter is a village-aligned hybrid intel/killing role. Their ability allows them to discover users of witchcraft at night. In future nights, the Witch Hunter may elect to kill a previously found witchcraft user.</p>

<h3>Role Type</h3>
<ul>
     <li>The Witch Hunter is seen as member of the village by the Seer.</li>
     <li>The Witch Hunter is not seen as a user of witchcraft.</li>
     <li>The Witch Hunter is seen visiting by the Harlot/Stalker/Familiar.</li>
     <li>The Witch Hunter is seen as a killer by the Adjudicator.</li>
 </ul>

<h3>Notes</h3>
<ul>
    <li>Once a witchcraft user is a found, their name will be highlighted in red the following night. The mark lasts the entire game.</li>
    <li>A subsequent visit to a marked witchcraft user will kill them.</li>
    <li>The Witch Hunter's kill ignores protection (Shaman, Protector, Huntsman).</li>
    <li>Evil witchcraft users: all Coven roles (including Puppets) and Shapeshifters.</li>
    <li>Good witchcraft users: Seers, Protectors, Revivers, Beholders, and Tarot Readers.</li>
    <li>Witchcraft users can be traced through shapeshifts and Djinn-swaps. However, the marks on players are not unique, so any identity-swaps between two marked players will remain invisible.</li>
    <li>Dead players lose their mark, but if a once-marked player is revived their mark will also return.</li>
    <li>If a Witch Hunter loses their ability (because they are purged by the Alchemist or recruited by a Vampire (Master)) their marks will still appear in the night, but they are no longer updated. This means that you can no longer spot the swapping of identities.</li>
</ul>

<h3>Tips for playing Witch Hunter</h3>
<ul>
    <li>There is both an upside and a downside to exposing yourself to the village. The upside is that you can communicate with the village about the players you've marked, and you can confirm with them whether you should kill a certain marked player - this reduces the risk you're killing a valuable village member. It also helps the village if they understand how a certain player has died. The downside is that you are a valuable target once exposed - both Coven members and/or any Wolfpacks that rely on Shapeshifters will want you dead as soon as possible.</li>
    <li>If you notice that any of your marked players have switched characters, you could wait with sharing this information. Members of the village will usually say if their character has been swapped. Thus, if the player in question does not speak about it, he is probably an enemy of the village.</li>
</ul>
