@model dynamic

@{
    ViewBag.Title = "Alphawolf Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Alphawolf</h2>

<p>The Alphawolf is a badass wolf who once per game can give the wolves an extra kill.</p>
<p>The extra kill is subject to all of the same rules as a normal wolf kill. It can be blocked by a Protector. The Alphawolf can be killed by a Huntsman, and it won't work on a Vampire.</p>
<p>If the extra kill fails for whatever reason, the Alphawolf does NOT get another one, it's gone for the rest of the game!</p>

<h3>Tips for playing Alphawolf</h3>
<ul>
    <li>Two deaths in the morning may leave the village thinking that a Huntsman got lucky and killed a wolf</li>
</ul>