@model dynamic

@{
    ViewBag.Title = "Beholder Role | werewolv.es | Werewolf and Mafia Roles";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h3>Beholder</h3>

<p>Once per night, the Beholder can select a player. If they select an "intel" role, they will see whatever their target saw, and get a report in the morning. There are a few exceptions to this rule, and some reports are slightly changed.</p> 

<h2>Role Type</h2>
<ul>
     <li>The Beholder is seen as member of the village by the Seer.</li>
     <li>The Beholder is seen as a user of witchcraft by the Witchhunter.</li>
     <li>The Beholder is seen visiting by the Harlot/Stalker/Familiar.</li>
 </ul>

<h2>Notes</h2>
<ul>
    <li>The Beholder gets reports from: the Gravedigger, Stalker, Harlot, Familiar, Seer, Bloodhound, Tarot Reader, and Witchhunter. The Beholder does not get any report/notification if the target does not use their ability, or if their target has been roleblocked.</li>
    <li>Stalkers and Familiars receive the same morning report.</li>
    <li>The Bloodhound's report for the Beholder is changed so that it is identical to the Seer's report (only seeing alignment).</li>
    <li>The Beholder gets no report from the Insomniac.</li>
    <li>The Beholder will not see notifications from non-intel roles (e.g. Protector or Huntsman).</li>
</ul>

<h2>Tips for playing Beholder</h2>
<ul>
    <li>The Beholder is a valuable supportive role in games with intel roles. You can verify and discredit people who claim to have such a role.</li>
    <li>It may be valuable to target somebody who you suspect/know has a role and/or is likely to die that night. If they die, you can at least pass on their information!</li>
    <li>You have to consider what the right time is for you to speak up. You do not want to expose roles unnecessarily (early). On the other hand, you may be able to form a team of cleared village roles so that they can work together whilst being protected.</li>
</ul>
