@model dynamic

@{
    ViewBag.Title = "Beholder Role | werewolv.es | Werewolf and Mafia Roles";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Beholder</h2>

<p>Once per night, the Beholder can select a player. If they select an "intel" role, they will see whatever their target saw in the morning. An exception to this is if the Beholder targets a Bloodhound, then they will only see the alignment of the Bloodhound's check (the same thing a Seer would see).</p>

<h3>Notes</h3>
<ul>
    <li>Stalkers and Familiars receive the same morning report</li>
    <li>The Beholder's ability does work on a Tarot Reader (if the Tarot Reader chooses to use their ability that night)</li>
    <li>The Beholder will not see notifications from non-intel roles (e.g. Protector or Huntsman)</li>
    <li>If the Beholder's target is roleblocked, the Beholder will not see the "You were Roleblocked" notification</li>
</ul>