@model dynamic

@{
    ViewBag.Title = "Bloodletter Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Bloodletter</h2>

<p>Bloodletters spill their own blood and mark their target with it. If the Seer checks that target on the same night, they will believe the target is a werewolf. The power of the blood wears off quickly, so on subsequent nights the target will appear innocent to the Seer once again.</p>