@model dynamic

@{
    ViewBag.Title = "Bloodhound Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Bloodhound</h2>

<p> The Bloodhound is a powerful tactical addition to the Wolfpack. They are equivalent to the Seer for the Werewolves, and their ability is even more powerful than the Seer's is.</p>

<h2>Role Type</h2>
<ul>
    <li>The Bloodhound is seen as a member of the Wolfpack by the Seer.</li>
    <li>The Bloodhound is not seen as a user of witchcraft by the Witchhunter.</li>
    <li>The Bloodhound is seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h2>Notes</h2>

<ul>
    <li>Each night, the Bloodhound can reveal the exact identity of another member of the village (whereas the Seer can only know a player's alignment).</li>
    <li>The Bloodhound does not attack their target and therefore does not trigger abilities like that of the Huntsman or Shaman.</li>
    <li>If there are no killing wolves left in the Wolfpack, the Bloodhound will become a normal Werewolf. The Bloodhound is the first to revert, before a Bloodletter or Direwolf would.</li>   
</ul>

<h2>Tips for playing Bloodhound</h2>

<ul>
    <li>For some general tips on how to play as a member of the Wolfpack, look at the corresponding section in the 'Factions' page.</li>
    <li>Do not make the mistake of pretending to be Seer and thinking you can find the exact identities of village members!</li>
    <li>The Wolfpack can decide to have the Bloodhound check who they kill, or not. If they check who they kill they can be sure which roles are out of the game, and they have all the information needed to pretend to be a Gravedigger. If the Bloodhound chooses other targets than the killing wolves, the Wolfpack increases the speed with which they can detect and kill important roles.</li>
    <li>Sometimes, the Bloodhound's findings can influence the Wolfpack's actions the following day (what to say, which role to claim, etc). For these situations the Bloodhound can agree on a code with the Wolfpack in which they secretly transmit their findings in the village chat. This is also helpful because the Bloodhound may be lynched that day, and thus cannot share their information at night anymore! Note: the Bloodhound code does not involve external sites or the use of cryptography (see the Rules section). The code only involves the use of specific words/sentences, or other identifies such as the use of capital letters, amount of words in your sentence, etc.</li>
    
</ul>
