@model dynamic

@{
    ViewBag.Title = "Bloodhound Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Bloodhound</h2>

<p>Bloodhounds spend their night sniffing out the werewolves prey. Once per night, they can learn the role of a member of a village, directing the wolves to more important targets like the Seer.</p>