@model dynamic

@{
    ViewBag.Title = "Demonlord Role | werewolv.es | Werewolf and Mafia Roles";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Demonlord</h2>

<p>The Demonlord is the most deadly creature in the game. Every night they can choose to Blight another player or ignite the Blight, killing all Blighted players at once.</p>

<h2>Role Type</h2>
<ul>
     <li>The Demonlord is seen as a Demon by the Seer.</li>
     <li>The Demonlord is not seen as a user of witchcraft by the Witch Hunter.</li>
     <li>The Demonlord is seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h2>Notes</h2>
<ul>
  <li>Demons cannot be killed by any ability. They can only be killed by lynching them.</li>
  <li>Demons cannot be roleblocked by a Direwolf, redirected by a Succubus, or purged by an Alchemist.</li>
  <li>All Blighted players will be marked at the start of the night.</li>
  <li>Blight follows a player's soul, so the Demonlord can witness shapeshifts and Djinn-swaps.</li>
  <li>There is no protection possible against the Demonlord's killing ability, and it will kill resilient creatures such as Vampires.</li>
  
</ul>

<h2>Tips for playing Demonlord</h2>
<ul>
  <li>When choosing the best target, your Hellhound may have useful information for you, since they can discover the identities of other players.</li>
  <li>Your killing ability is unparalleled in the game: it's possible for you to kill any number of players in a single night, if you just wait long enough. This ability allows you to eradicate all opposition at once, but beware: if players see a high kill count, they will suspect the presence of Demons in the village.</li>
</ul>
