@model dynamic

@{
    ViewBag.Title = "Direwolf Role | werewolv.es | Werewolf and Mafia Roles";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Direwolf</h2>

<p>The Direwolf is an imposing werewolf whose mere presence causes terror amongst those nearby. The Direwolf is able to block a player from using their ability at night. The Direwolf is also able to mislead any Seer who checks them.</p>

<h2>Role Type</h2>
<ul>
     <li>The Direwolf is seen as a member of the village by the Seer.</li>
     <li>The Direwolf is not seen as a user of witchcraft by the Witch Hunter.</li>
     <li>The Direwolf is seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h2>Notes</h2>
<ul>
    <li>The Direwolf does not attack their target and therefore does not trigger abilities like that of the Huntsman or Shaman.</li>
    <li>If there are no killing wolves left in the Wolfpack, the Direwolf will become a normal Werewolf. The Direwolf is the last to revert, the Bloodhound and Bloodletter reverting first.</li>
    <li>The Direwolf cannot block a Succubus, Djinn or Vampire. The Direwolf may block a Sleepwalker and Insomniac, even though these roles may not even be aware that they had a special ability at all.</li>
    <li>A Direwolf can be redirected by a Succubus.</li>
    <li>The Direwolf's block renders their target's ability not used, even if the target had activated their ability. This means that limited-use abilities are not depleted if they are activated but blocked by the Direwolf. In addition, roles can target the same player twice even if their ability does not usually allow it (e.g. the Protector), if they were roleblocked.</li>
</ul>

<h2>Tips for playing Direwolf</h2>
<ul>
    <li>For some general tips on how to play as a member of the Wolfpack, look at the corresponding section in the 'Factions' page.</li>
    <li>Not being detected by a Seer, the Direwolf has some more freedom in their playing style. You may become a controversial character only to have you cleared by a Seer (and thereby giving the Wolfpack a kill target).</li>
    <li>Some players are wary of the Direwolf, and in these situations being seen as village member alone will not guarantee your safety - especially if there are reports of Direwolf activity in the village. This is one of the reasons why some Direwolves wait until later in the game with using their ability.</li>
    <li>The Direwolf is effective if they can block protective and/or visit detection roles, allowing the Wolfpack to kill valuable village members unhindered and without fear of being caught.</li>
</ul>
