@model dynamic

@{
    ViewBag.Title = "Direwolf Role | werewolv.es | Werewolf and Mafia Roles";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Direwolf</h2>

<p>The Direwolf is an imposing werewolf whose mere presence causes terror amongst those nearby. The Direwolf is able to block a player from using their ability at night.</p>

<h3>Notes about the Direwolf</h3>
<ul>
    <li>The Direwolf passively prevents the Seer's ability from working on them. If the Seer checks the Direwolf, they will see them as a villager</li>
    <li>Like the Bloodhound, if the Direwolf is the last wolf remaining, they become a normal werewolf</li>
    <li>If only the Bloodhound and Direwolf are left on the werewolf team, the Bloodhound becomes a werewolf first</li>
    <li>The Direwolf will not trigger a Huntsman's kill if they choose to block a player guarded by the Huntsman</li>
    <li>The Direwolf cannot block a Succubus, Djinn or Vampire</li>
    <li>A Direwolf can be redirected by a Succubus</li>
</ul>