@model dynamic

@{
    ViewBag.Title = "The Djinn (Coven) | third party faction in werewolf and mafia | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>The Djinn (Coven)</h2>

<p>The Djinn is a member of the Coven who can manipulate the appearence of others, they are able to swap the identities of two players each night.</p>
<p>Only the identities of the players are swapped, the player retains their role and affiliation.</p>


<h3>Tips for playing Djinn</h3>
<ul>
    <li>Combined with a killing potion used by the witch, the Djinn's power can shift a member of the Coven into a cleared role with no other witnesses to contest</li>
</ul>

<h3>Notes on the Djinn</h3>
<ul>
    <li>For Stalker and Harlot checks, the Djinn is NOT considered to have visited the two players that they have swapped</li>
    <li>Djinn swaps happen at the very end of the morning, so any stalker/halort etc checks will report back on the old name</li>
    <li>The Djinn's targets must both be alive, or both be dead. The Djinn cannot swap a living player and a dead player</li>
</ul>

<h3>History</h3>
<p>2016-11-06: Djinn changed so they can swap either two living or two dead players</p>