@model dynamic

@{
    ViewBag.Title = "How to Play | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Factions in werewolv.es</h2>
<p>werewolv.es is a team game, which pits the Village (the good side, and the uninformed majority) against one or more smaller evil factions.</p>
<h3>The Village</h3>
<p>As a rule, each member of the village begins the game not knowing who to trust. As the game progresses, villagers must work out who is lying to them and who is genuine.</p>
<h3>The Werewolves</h3>
<p></p>
