@model dynamic

@{
    ViewBag.Title = "Familiar Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Familiar</h2>
<p>
    The Familiar is an unusual role in that it is not assigned at the start of the game, but recruited by a Vampire.
    During the night, the Vampire may choose (by targetting themselves first) to change their night action to turn a player into a Familiar, instead of killing as normal.
    Once recruited, the Familiar is permenantly aligned with the Vampire and shares their win condition.
</p>
<p>
    The Familiar is granted night time immunity on the night that the Vampire recruits them. This includes one off attacks such as the Militia or the Witch potion.
</p>
<p>
    The Familiar has the same powers as the village-aligned Stalker and can talk with the Vampire in secret at night.
</p>
<p>
    If the Vampire is killed and their Familiar is still alive, there is a chance that the Familiar will be able to revive their master. On the Vampire's death, a living player will be marked. If that player is killed for any reason, then the Vampire will be reborn in the Familiar's body.
</p>