@model dynamic

@{
    ViewBag.Title = "Familiar Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Familiar</h2>

<p>The Familiar is a role given to another player when they are recruited by the Vampire. The Familiar role replaces the player's previous role. The Familiar is permenantly aligned with the Vampire and shares their win condition. The Familiar has an ability like the village's Stalker, and is able to bring back the Vampire from the Graveyard.</p>

<h2>Role Type</h2>
<ul>
     <li>The Seer identifies this role as "Familiar".</li>
     <li>The Familiar is not seen as a user of witchcraft by the Witch Hunter.</li>
     <li>The Familiar is seen visiting by the Harlot/Stalker.</li>
 </ul>
 
<h2>Notes</h2>
<ul>
    <li>The Familiar's ability is identical to the Stalker's ability: every night, the Familiar can target somebody. In the morning they will get a report whom their target visited. If their target didn't visit anyone, the report will indicate this.</li>
    <li>A player will be informed at dawn that they have been recruited by the Vampire in the night. The Vampire's identity is also revealed to the player. From the next night onward, the Vampire and the Familiar have a shared private night chat.</li>
    <li>The player's ability is still carried out on the night of their recruit, but once they have been turned into a Familiar they lose their former abilities and ties to any other faction.</li>
    <li>Stalkers and Familiars receive the same morning report.</li>
    <li>The Familiar is granted immunity on the night that the Vampire recruits them. This includes all killing abilities from any other faction; the village, the Wolfpack, and/or the Coven.</li>
    <li>If the Vampire is killed and their Familiar is still alive, there is a chance that the Familiar will be able to revive their master. On the Vampire's death, a living player will be marked. If that player is killed for any reason, then the Vampire will be reborn in the Familiar's body.</li>
    <li>The Mason Leader's recruit comes before the Vampire's recruit - if both recruit the same target one night, both recruits are succesful, but the target will end up as a Familiar (and not be able to access Mason chat).</li>
</ul>

<h2>Tips for playing Familiar</h2>

<ul>
    <li>As a Familiar, you can help the Vampire by finding people who visit at night. It is important that you find any intel roles before they may expose the Vampire!</li>
    <li>Because of the similarity between the roles, it is easy to pretend you are a Stalker. If the village suspects that there is a Familiar, however, people that have claimed Stalker may become primary suspects.</li>
    <li>Especially if the Vampire is dead or is being suspected by the village, it may be wise to lay low. Victory for you and the Vampire will depend on your survival once the Vampire is dead, and unlike the Vampire you are vulnerable at night. A Familiar is a prized target for every other faction.</li>
    <li>If the Vampire is dead and you have been given a target, you have to consider whether it is better to be aggressive or to show restraint when it comes to getting this person lynched. If you are aggressive, people may suspect you are a Familiar, and kill you (instead). On the other hand, you may not have long to live, and thus you would have to lynch this person fast. Your strategy will also depend on the faction your target belongs to, and the factions that are (still) in the game - if your target is a member of the Wolfpack, they will probably not be killed at night, and you need to approach the situation differently. If it is hard to lynch your target, you could still try to get them killed at night - to do this, you could try to frame your target as somebody who is important to kill but will not be protected/watched by Harlot etc.</li>
</ul>
