@model dynamic

@{
    ViewBag.Title = "Graverobber Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Graverobber</h2>

<p>The Graverobber can steal up to one role from a dead player. Initially a villager, if they steal the role of a dead werewolf they will swap sides. If the Graverobber attemps to steal the role of a villager, a lycan, a vampire or someone that has been shapeshifted into, their attempt has no affect and they can try a different target the next night.</p>