@model dynamic

@{
    ViewBag.Title = "Graverobber Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Graverobber</h2>

<p>The Graverobber can steal up to one role from a dead player. Before they steal a role they are a member of the village, but once they have stolen a role their alignment corresponds with their new role. There are a few exceptions to the roles that the Graverobber can take. If the Graverobber attempts to steal one of these roles, nothing happens and the Graverobber can try again next night.</p>

<h2>Role Type</h2>
<ul>
    <li>The Graverobber is seen as member of the village by the Seer.</li>
    <li>The Graverobber is not seen as a user of witchcraft by the Witchhunter.</li>
    <li>The Graverobber is not seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h2>Notes</h2>
<ul>
    <li>The information given in the Role Type section is only true if the Graverobber has not taken on a new identity yet - once they have a new role, all role characteristics correspond to that role.</li>
    <li>Their is no way to distinguish between a player who has a role from the start of the game and a player who has stolen the role during the game.</li>
    <li>If the Graverobber has targeted an appropriate role, they take on the role at dawn. Before dawn, they are still considered to be a Graverobber, and any roles targeting them will be carried out accordingly. For example: the Seer checks the Graverobber the night they steal the role of a member of the Wolfpack. The Seer still gets the report that they have found a member of the village.</li>
    <li>The following roles can not be robbed: the Villager, the Lycan, the Insomniac, the Sleepwalker; the Puppet Master, the Djinn, the Succubus; the Vampire, the Familiar. Additionally, you cannot steal the role of somebody who has been shapeshifted into (a person whose Gravedigger report comes up 'Undetermined').      
</ul>
