@model dynamic

@{
    ViewBag.Title = "Gravedigger Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Gravedigger</h2>

<p>The Gravedigger is able to check dead players at night. He can learn the exact role that player had.</p>

<h3>Notes about the Gravedigger</h3>
<ul>
    <li>If the Gravedigger checks the corpse of a Shapeshifter who successfully shifted away, they will see "Undetermined" as their role</li>
</ul>