@model dynamic

@{
    ViewBag.Title = "Harlot Role | online werewolf game | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Harlot Role</h2>

<p>The Harlot can visit one player a night, but they cannot visit the same player two nights in a row.</p>
<p>In the morning, the Harlot will receive a report of each other player that "visited" their target. This may include village roles, such as the Seer, or it may involve a wolf role, such as a Bloodhound or a normal Werewolf kill.</p>

<h3>Tips for playing Harlot</h3>
<ul>
    <li>If a village role is forced to come out early, at least you will know who killed them...</li>
</ul>

<h3>Notes</h3>
<p>If the werewolves target the same player as the Harlot, the Harlot will only see a single wolf visit in their morning report. This is the "killing wolf" and is the same wolf that would die to a huntsman defence.</p>

<h3>History</h3>
<p>2016-08-20: Harlot changed so it can no longer visit the same player two nights in a row</p>