@model dynamic

@{
    ViewBag.Title = "The Harpy (Coven) | third party faction in werewolf and mafia | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>The Harpy (Coven)</h2>

<p>The Harpy is a member of the Coven who can manipulate voting outcomes. They have the abilities <i>Silence</i> and <i>Shroud</i>.</p>
<p><i>Silence</i> causes the vote of the target player to carry no weight (like a puppet). <i>Shroud</i> causes the votes cast <i>against</i> the target player to carry no weight. They will not be lynched even if they have the highest total.</p>
<p>Both abilities may be cast on the same night. Both abilities are available every night. Silence and Shroud targets receive the same cryptic message in the morning.</p>

<h3>Tips for playing Harpy</h3>
<ul>
    <li>Silence players who are likely to vote against you if you are in a tight spot, or use it to frame someone as a puppet when a lynch doesn't go through;</li>
    <li>Shroud a fellow coven who has been caught out to save them for another night, or use it to stop an obvious lynch - and watch the second lynch choice go to the grave;</li>
    <li>Although Silence is the more offensive ability and Shroud defensive, you are not restricted on who you can target with either (friend or foe);</li>
    <li>Consider faking a visting role as you can visit both the living and the dead. But beware - cryptic message will give you away!</li>
</ul>

<h3>Notes on the Harpy</h3>
<ul>
    <li>Both abilities count as a visit, and are visible to Stalkers/Harlots;</li>
    <li>You cannot visit the same player on consecutive nights (this includes Shrouding one night, and Silencing the next, for example;</li>
    <li>If you target a player in the grave on the night they are revived, the shroud or silence effect carries into the land of the living.</li>
</ul>

<h3>Role-text</h3>
<ul>
    <li><b>Silence and shroud targets receive this message in the morning:</b> You had strange dreams in the night, they have shaken your faith in democracy.</li>
</ul>

<h3>History</h3>
<p>2017-10-19: Harpy introduced in shb-001.</p>

