@model dynamic

@{
    ViewBag.Title = "Hellhound Role | werewolv.es | Werewolf and Mafia Roles";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Hellhound</h2>

<p>The Hellhound is a Demon who excels in gaining information about other players, especially about/from Werewolves. Every night, the Hellhound can choose one player and discover their exact role. 
In addition, the Hellhound can read the Wolfpack's night chat, although they cannot see the names of those talking.</p>

<h2>Role Type</h2>
<ul>
     <li>The Hellhound is seen as a Demon by the Seer.</li>
     <li>The Hellhound is not seen as a user of witchcraft by the Witch Hunter.</li>
     <li>The Hellhound is seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h2>Notes</h2>
<ul>
  <li>Demons cannot be killed by any ability. They can only be killed by lynching them.</li>
  <li>Demons cannot be roleblocked by a Direwolf, redirected by a Succubus, or purged by an Alchemist.</li>
  <li>The Hellhound can witness the Wolfpack's chat, but not talk in it. No names or pictures appear next to the text.</li>
  <li>The Hellhound's seeing ability is identical to the ability of the Bloodhound, and specific interactions with other roles (such as the Beholder) are the same as for the Bloodhound. See that role page for some of the details.</li>
</ul>

<h2>Tips for playing Hellhound</h2>
<ul>
  <li>Your seeing ability is particularly useful to direct the Demonlord towards specific targets (for the Demonlord's blight ability).</li>
  <li>Knowing what the Wolfpack is up to can help you strategize accordingly. As a Demon, you need not fear the Werewolves: either expose them to gain trust in the village, or work with them to destroy the village. Be careful that the village doesn't find out how you have acquired your information: if they find out you're a Demon, they will want to lynch you!</li>
</ul>
