@model dynamic

@{
    ViewBag.Title = "How to Play | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>How to Play</h2>
<h3>The basics</h3>
<p>werewolv.es has two basic game modes. 24 hour games and speed rounds, although the site hasn't hosted a speed round in a while now, they are still possible to host. Whichever mode is used, victory conditions and basic play remains the same: The village are trying work out who are killing them during the night, and the werewolves are trying to stay hidden until they have whittled down the numbers of the village. The game is divided into two basic phases, day and night.</p>
<h3>Night Phase</h3>
<p>During the night phase, the werewolves can talk to each other in secret and choose their victim. This is the time that special characters can decide how to use their unique ability. When night is over, abilities and werewolf kills are resolved and day begins.</p>
<h3>Day Phase</h3>
<p>The daytime is where most of the game of werewolv.es actually takes place. The village must talk amongst itself and piece together whatever scraps of information they may have been able to find in order to work out who the werewolves are. Once the village has a suspicion, they are able to democratically lynch someone, if they lynch all the werewolves, they win.</p>
<h3>Lynching</h3>
<p>In 24 werewolf hour game, votes are cast throughout the day and when night falls, the player with the most votes is lynched by the village. If there is a tie and the mode is set to enforced lynch, a player is selected at random from those with the highest number of votes. If no one has any votes, this could result in ANYONE being lynched randomly.</p>
