@model dynamic

@{
    ViewBag.Title = "How to Play | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>How to Play</h2>

<h2>The basics</h2>
<p>werewolv.es has two basic game modes. 24 hour games and speed rounds. The 24 hour games have 12-hour day and night cycles. In speed rounds a day and night only take five to ten minutes, usually. The 24 hour games are played continuously - there is usually one ongoing, and one where you can sign up, at any moment. The speed games are occasionally hosted in the weekend. Whichever mode is used, victory conditions and basic play remains the same: The village is trying to work out who are killing them during the night, and the evil factions are trying to stay hidden until they have whittled down the numbers of the village. The evil factions are: the Werewolves, the Coven, and the Vampire - each game includes at least one, and possibly multiple, of these factions. The game is divided into two basic phases, day and night.</p>

<h2>Night Phase</h2>
<p>During the night phase, members of evil factions can talk to their allies in secret and choose their victim(s). This is the time that special characters can decide how to use their unique ability. When night is over, abilities and kills are resolved and day begins.</p>

<h2>Day Phase</h2>
<p>The daytime is where most of the game of werewolv.es actually takes place. The village must talk amongst itself and piece together whatever scraps of information they may have been able to find in order to work out who the enemies are. Once the village has a suspicion, they are able to democratically lynch someone. Once they have lynched all evils, they win.</p>

<h2>Lynching</h2>
<p>In a 24 hour game, votes are cast throughout the day and when night falls, the player with the most votes is lynched by the village. If there is a tie, nobody is lynched. In exceptional cases, the mode is set to enforced lynch: a player is selected at random from those with the highest number of votes. If no one has any votes, this could result in ANYONE being lynched randomly.</p>

<h2>Order of night actions</h2>
<p> The different abilities roles have at night may influence each other. How they do is determined by the order in which the night actions are defined to take place. The order of night actions is:</p>
<ul>
    <li>Redirects (Succubus)</li>
    <li>Roleblocks (Direwolf)</li>
    <li>Protection visits (Protector, Huntsman, Shaman)</li>
    <li>Most visits (Too many to list: all visits not belonging in another category)</li>
    <li>Resolve kills (Killing werewolf (Werewolf/Alphawolf/Shapeshifter), Vampire, Witch, Militia)</li>
    <li>Report visits to Stalkers, Harlots, Familiar</li>
    <li>Swap Identities (Djinn, Shapeshifter)</li>
    <li>Report kills to village</li>
    <li>Report revives to village</li>
</ul>
<p> Some general points: nightly abilities will still take place even if the role is killed that night. This also holds for all identity-swapping abilities (Djinn, Shapeshifter) just as for other abilities.
    The important point to note here is that, by the time the identities of players are swapped, the game has already determined who is going to be killed that night. Thus identity-swapping abilities can never change which <em>player</em> will die in the night, but they can change which <em>character</em> will be reported dead at dawn.
    For example: if a Shapeshifter is targeted by some killing ability, they cannot escape their fate by shifting into some other character that night.</p>

<p> Note that all roles get reports on the situation before identity-swapping abilities, meaning that your information is possibly outdated by the time you receive it.</p> 
