@model dynamic

@{
    ViewBag.Title = "Huntsman Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Huntsman</h2>

<p>The Huntsman is a brave villager who risks their own life in protecting other village members. At night, the Huntsman can guard a player of their choosing. If that person is attacked by the Wolfpack, the Huntsman and the killing wolf will die.</p>

<h3>Role Type</h3>
<ul>
     <li>The Huntsman is seen as member of the village by the Seer.</li>
     <li>The Huntsman is not seen as a user of witchcraft by the Witch Hunter.</li>
     <li>The Huntsman is seen visiting by the Harlot/Stalker/Familiar.</li>
 </ul>

<h3>Notes</h3>
<ul>
    <li>The Huntsman cannot protect the same player two nights in a row.</li>
    <li>The Huntsman cannot protect themselves (but the Protector can).</li>
    <li>If the Protector and Huntsman guard the same target and the wolves attack, the Huntsman's ability triggers first. So the Huntsman and killing wolf will still die.</li>
    <li>The Huntsman cannot kill a Vampire by protecting the Vampire's target. Instead, the Vampire is scared away, and everyone survives the encounter (players may still die because of other reasons).</li>
    <li>A Huntsman cannot protect against a Militia's, Witch Hunter's, Zealot's, or Witch's killing abilities.</li>
</ul>

<h3>Tips for playing Huntsman</h3>
<ul>
    <li>The Huntsman is most effective when they remain anonymous, so that they can protect important (exposed) village members without being exposed themselves.</li>
    <li>It is usually wise to not reveal who you protected the most recent night, since any evil faction member now knows whom you cannot protect the upcoming night.</li>
    <li>The Huntsman becomes increasingly durable when they combine with a Protector and/or Harlot, possibly in combination with an intel role like a Seer. The Huntsman, Protector, and Harlot can protect/watch each other and/or the exposed village roles, so that no Werewolf/Vampire would attempt to kill them. The village often uses this principle even if they cannot guarantee everyone's safety, i.e. when the amount of people that require protection exceeds the amount of defensive roles. It will still be too risky for Werewolves/Vampire to attack anyone in this group.</li>
    <li>As seen from the previous example, even the sheer possibility of a Huntsman protecting somebody is enough to deter would-be attackers. If you wish to take a risk, you may even protect another person than the person you were intended/declared to protect, so that the next night - when the evil factions think they're safe - you will be right there!</li>
    <li>Try to think like the Wolfpack/Vampire, who would you kill if you were trying to hurt the village? Protect that person!</li>
</ul>
