@model dynamic

@{
    ViewBag.Title = "Huntsman Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Huntsman</h2>

<p>A fearless individual determined to protect the innocent, even at the expense of himself. At night, the Huntsman can guard a player of their choosing from the werewolves. If that person is attacked, the Huntsman and the killing wolf will die.</p>

<h3>Notes</h3>
<ul>
    <li>The Huntsman cannot protect the same player twice in a row</li>
    <li>The Huntsman cannot protect themselves</li>
    <li>If the Protector and Huntsman guard the same target and the wolves attack, the Huntsman triggers first. So the Huntsman and Wolf will still die</li>
    <li>If the target is attacked the Vampire, the Vampire is scared away, but there are no extra deaths</li>
    <li>A Huntsman cannot protect against a Militia shot or Witch kill</li>
</ul>