@model dynamic

@{
    ViewBag.Title = "Insomniac Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Insomniac</h2>
<p>The Insomniac believes they are a regular Villager. However, if they are visited by another player during the night they will receive a message the next morning telling them who visited them.</p>

<h2>Role Type</h2>

<ul>
     <li>The Insomniac is seen as member of the village by the Seer.</li>
     <li>The Insomniac is not seen as a user of witchcraft by the Witchhunter.</li>
     <li>The Insomniac is not seen visiting themselves by the Harlot/Stalker/Familiar.</li>
 </ul>
 
<h2>Tips for playing Insomniac</h2>

<ul>
    <li>The tips for the Villager apply for the Insomniac, as the Insomniac will at first think they are a regular Villager!</li>
    <li>Once you see that somebody has visited you, you have to consider if and when to share this information. You may bring to light an evil character, but also expose a village-aligned role!</li>
    <li>If you die the night that you are visited by somebody, it is highly likely that they are your killer. Share this information in the Graveyard: somebody else might be revived and bring this to light.</li>
</ul>
