@model dynamic

@{
    ViewBag.Title = "Insomniac Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Insomniac</h2>

<p>Insomniacs believe they are a normal, powerless villager. However, if they are visited by another player during the night they will receive a message the next morning telling them who visited them.</p>
<p>The Insomniac is not seen visiting themselves by Harlots or Stalkers</p>