@model dynamic

@{
    ViewBag.Title = "Lycan Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Lycan</h2>

<p>Lycans are unfortunate villagers afflicted with a mild form of Lycanthropy. They're not evil, and are on the side of the village. Unforunately however, the Seer will view any such individuals as werewolves at night. The Lycans therefore, despite being part of the village, are a burden on it.</p>