@model dynamic
@{
    ViewBag.Title = "Messiah Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Messiah</h2>

<p>The Messiah is a village-aligned role. Once per game, you can sacrifice your life during the night. On the dawn of the third day of your death, you will be revived.</p>
<p>Your sacrifice cannot be redirected by the Succubus, but another player may revive you earlier. You can also converse with the dead between your death and resurrection.</p>

<h3>Tips for playing Messiah</h3>
<ul>
    <li>A Stalker or Harlot will see you visit yourself on the night of your sacrifice.</li>
    <li>A sacrifice near the end of the game may cause the Wolves or Coven to win due to parity with the village, since you do not count towards the number of villagers left whilst you are dead.</li>
    <li>A sacrifice too soon will limit the amount of information you can gather from the dead.</li>
    <li>Remember that the dead may lie to try and influence the village.</li>
</ul>