@model dynamic

@{
    ViewBag.Title = "Militia Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Militia</h2>

<p>The Militia is a village-aligned killing role. They can only use their ability to kill once per game. It cannot be blocked by the Protector or Huntsman, but they cannot kill a Vampire.</p>


<h3>Tips for playing Militia</h3>
<ul>
    <li>Two deaths in the morning can be confusing, let the village know you used your power, or you planned to use your power, so they don't think it's an Alphawolf kill or a Huntsman saving someone</li>
</ul>