@model dynamic

@{
    ViewBag.Title = "Rules | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Rules</h2>
<p>In general, you can lie and say pretty much whatever you want during a game of werewolves, and we want as few rules and artificial limits as possible. However, there are some ground rules for playing online on this site.</p>
<ul>
    <li>No talking about an active game anywhere outside of the game room itself. You are obviously free to discuss finished games as much as you would like.</li>
    <li>No copy/paste of role information or pasting screenshots that would undoubtably prove your role.</li>
    <li>With respect to proving/disproving shapeshifts: do not ask for (or volunteer) information from outside the game. For example "what University did you go to?".</li> 
    <li>While some of the experienced players may recognize one another by their typing, it is still not allowed to state your (account) name explicitly. Because players may know each other, stating your (account) name is equal to giving information from outside of the game. This also means that you cannot say in-game which role you had/character you were in previous games, as it is easy to look up previous games and check which account belonged to whom.</li>
    <li>Any private messages from the moderator must remain private and should not be mentioned unless explicit permission is given.</li>
    <li>Try to keep in-game chat to be specific to that game once it has started (Use your judgement on this - banter, espescially relating to the games theme, is semi-encouraged).</li>
    <li>Do not try to ruin the game for others.</li>
    <li>The use of code words/sentences (by factions such as the Masons and the Wolfpack) in the day chat is allowed, as long as this remains within the domain of game communication. You are not allowed to rely on cryptography that players could not reasonable solve by, say, pen and paper and logical deduction. Sending messages that can only be decoded with third-party cryptography software, for example, is NOT allowed.</li>   
    <li>
        No personal insults, racism, sexism, homophobic remarks etc. We understand that some debates get heated, but try to keep it civil!
    </li>
</ul>
