@model dynamic

@{
    ViewBag.Title = "Protector Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Protector</h2>

<p>The protector is used in most games of werewolf. Each night the Protector can guard a player, the target will not die if they are attacked that night.</p>
<p>The Protector can also choose to protect themselves, but they cannot target the same person two nights in a row.</p>

<h3>Tips for playing Protector</h3>
<ul>
    <li>It is common for the Protector to remain anonymous and to guard the Seer when they reveal themselves.</li>
    <li>If there are no deaths one night it's usually likely that the wolves will attack the same player as they know they can't be defended again. If you protected yourself it may be wise to let the village know before you die.</li>
    <li>Try to think like a wolf, who would you kill if you were trying to hurt the village? Protect that person!</li>
</ul>