@model dynamic

@{
    ViewBag.Title = "The Puppetmaster (Coven) | third party faction in werewolf and mafia | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>The Puppetmaster (Coven)</h2>

<p>The Puppetmaster is a member of the Coven who begins with the game with a number of 'puppets'. A puppet appears and interacts with the village as if they are a real player, but in reality, it is the Puppetmaster that is speaking, or voting through the puppet. </p>

<h3>Notes on the Puppetmaster</h3>
<ul>
    <li>All of the Coven know who the puppets are</li>
    <li>The Puppetmaster can freely switch between their own identity and the puppets throughout the day</li>
    <li>The Puppetmaster reverts to their original identity each night</li>
    <li>Puppets can be Djinn-swapped or Shapeshifted into as normal</li>
    <li>Puppet votes look like normal votes but do not count towards lynches</li>
    <li>If the Puppetmaster is lynched, the puppets will be killed in the morning</li>
    <li>If the Puppetmaster is killed during the night, the puppets will live for the day (unable to speak) and die the <em>next</em> morning</li>
    <li>The Puppetmaster cannot swap bodies into a puppet to avoid a lynch</li>
    <li>Puppets are fully revealed to the Seer, they are not shown as "members of the Coven"</li>
</ul>
