@model dynamic

@{
    ViewBag.Title = "The Puppetmaster (Coven) | third party faction in werewolf and mafia | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h1>The Puppetmaster</h1>

<p>The Puppetmaster is a member of the Coven who begins with the game with two 'Puppets'. A Puppet appears and interacts with the village as if they are a real player, but in reality, it is the Puppetmaster that is speaking, or voting, through the Puppet.</p>

<h2>Role Type</h2>
<ul>
    <li>The Puppetmaster is seen as a member of the Coven by the Seer (see Notes).</li>
    <li>The Puppetmaster is seen as a user of witchcraft by the Witchhunter.</li>
    <li>The Puppetmaster is not seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h2>Notes</h2>
<ul>
    <li>The Puppets are revealed not as 'member of the Coven' to the Seer, but as a 'Puppet' instead.</li>
    <li>All of the Coven know who the Puppets are.</li>
    <li>The Puppetmaster can freely switch between their own identity and the puppets throughout the day. During the night, the Puppetmaster reverts to their original identity.</li>
    <li>Puppets can be Djinn-swapped or Shapeshifted into as normal.</li>
    <li>Puppet votes look like normal votes but do not count towards lynches.</li>
    <li>If the Puppetmaster is lynched, the Puppets will be killed in the morning thereafter.</li>
    <li>If the Puppetmaster is killed during the night, the Puppets will live for the day (unable to speak) and die the <em>next</em> morning.</li>
    <li>The Puppetmaster cannot swap bodies into a Puppet to avoid a lynch.</li>
    <li>Dead Puppets cannot be controlled, and they can never speak in the Graveyard. If a Puppet is revived (and the Puppetmaster still lives), the Puppet can be controlled again.</li>
</ul>

<h2>Tips for playing Puppetmaster</h2>
<ul>
    <li>For some general tips on how to play as a member of the Coven, look at the corresponding section in the 'Factions' page.</li>
    <li>Any Puppetmaster should be conscious of how they type from the start of the game - they should do their best to create three separate identities, for themselves and their two Puppets. The village will check for likeness in typing styles between players, and also look at things like activity times and voting patterns.</li>
    <li>If a fellow Coven member is in danger of getting lynched, you can have a Djinn swap them with a Puppet. It is important that the village does not suspect that the Djinn-swap has taken place!</li>
    <li>Generally, the Puppetmaster is less prominently present in the village, while the Puppets are - the Puppets are expendable and can therefore be used to carry out more risky strategies.</li>
</ul>
