@model dynamic

@{
    ViewBag.Title = "Seer Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Seer</h2>

<p>Once per night, the Seer can check a player and will learn their alignment in the morning.</p>
<p>There are few games played without the Seer, it is considered one of the most powerful and crucial roles on the side of the village.</p>

<h3>Notes</h3>
<ul>
    <li>Your checks reveal alignment, not full role</li>
    <li>Puppets are an exception to this, a check on a Puppet will reveal them as a Puppet and not "a member of the Coven"</li>
</ul>

<h3>Tips for playing Seer</h3>
<ul>
    <li>Remember that the wolves are trying to find you and kill you, they'll be likely to target anyone that appears to know more than they should</li>
    <li>Don't leave it too long to reveal yourself, the earlier you come forward with information, the more likely it is that the Protector or Huntsman is alive</li>
    <li>Don't underestimate the importance of coming forward with verified (living!) villagers, even though you haven't found a wolf. A few verified villagers may be enough of a core for the village to trust to win the game</li>
</ul>