@model dynamic

@{
    ViewBag.Title = "Seer Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h1>Seer</h1>

<p>Once per night, the Seer can check a player and will learn their alignment in the morning.</p>
<p>Many games are played with a Seer in it, it is considered one of the most powerful and crucial roles on the side of the village.</p>

<h2>Role Type</h2>
<ul>
    <li>The Seer is seen as member of the village by another Seer.</li>
    <li>The Seer is seen as user of witchcraft by the Witchhunter.</li>
    <li>The Seer is seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h2>Notes</h2>
<ul>
    <li>Your checks reveal alignment, not the full role (this is a difference from the Bloodhound). Puppets are an exception to this, a check on a Puppet will reveal them as a Puppet and not as "a member of the Coven".</li>
    <li>The Seer's report is mistaken if they target a Lycan, or if their target is marked by the Bloodletter.
</ul>

<h2>Tips for playing Seer</h2>
<ul>
    <li>Remember that the wolves are trying to find you and kill you, they'll be likely to target anyone that appears to know more than they should.</li>
    <li>Don't leave it too long to reveal yourself, the earlier you come forward with information, the more likely it is that a Protector and/or Huntsman are alive.</li>
    <li>Don't underestimate the importance of coming forward with verified (living!) villagers, even though you haven't found a wolf. A few verified villagers may be enough of a core for the village to trust to win the game.</li>
</ul>
