@model dynamic

@{
    ViewBag.Title = "The Shaman (Coven) | third party faction in werewolf and mafia | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>The Shaman (Coven)</h2>

<p>The Shaman is a member of the Coven and has two types of Totem they can use during the night. The first is a Protective Totem that the Shaman can use on any member of the Coven. The second is a Lure Totem that will attract the werewolves to that player, making them the werewolves target for that night.</p>

<h3>Notes on the Shaman</h3>
<ul>
    <li>The Protection Totem can be used repeatedly until that player is attacked in the night, then it is destroyed and cannot be used again</li>
    <li>The Protection Totem is still broken if a Protector protects the same target. In addition, the Protector is still unable to protect the target again (as per normal rules)</li>
    <li>The Protection Totem is broken and there are no Huntsman related deaths if a Huntsman also guards the same target</li>
    <li>The Shaman can continue to protect the same target with the Protection Totem</li>
    <li>The Protection Totem protects against a vampire and the werewolves</li>
    <li>The Protection Totem cannot save against a Militia or Witch kill</li>
    <li>The Lure Totem is one-use, and will not be available again even if the werewolf kill is unsuccessful (e.g. a Protector save)</li>
    <li>The Lure Totem will fail if for some reason the wolves haven't voted to kill during the night</li>
    <li>The Lure Totem has no effect on the Vampire</li>
</ul>
