@model dynamic

@{
    ViewBag.Title = "Shapeshifter Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h1>Shapeshifter</h1>

<p>The Shapeshifter is a powerful werewolf, able to turn the tide of an otherwise hopelessly lost game. The Shapeshifter has a single-use ability to swap identities with a victim of the werewolves. The rest of the game will see that the Shapeshifter has died, but in truth, he has now assumed the identity of the dead villager.</p>

<h2>Role Type</h2>
<ul>
    <li>The Shapeshifter is seen as a member of the Wolfpack by the Seer.</li>
    <li>The Shapeshifter is seen as a user of witchcraft by the Witchhunter.</li>
    <li>The Shapeshifter is seen visiting by the Harlot/Stalker/Familiar (see Notes).</li>
</ul>

<h2>Notes</h2>
<ul>
    <li>The Shapeshifter does not have to be the killing wolf in order to shift. While the Shapeshifter is seen visiting if they are the killing wolf, their shift can also take place without them being seen visiting the person they shift into, if another wolf is the killing wolf.</li>
    <li>The Shapeshifter is seen visiting themselves the night of their shift, regardless whether they are (not) the killing wolf.</li>
    <li>Once the Shapeshifter has used their ability, they revert into a normal Werewolf. If a Witchhunter has checked the Shapeshifter before their shift the mark remains, and the Witchhunter may be aware of the shift. If a Witchhunter checks a Shapeshifter only after their shift, however, all the rules for the normal Werewolf apply. </li>
</ul>

<h2>Tips for playing Shapeshifter</h2>

<ul>
    <li>For some general tips on how to play as a member of the Wolfpack, look at the corresponding section in the 'Factions' page.</li>
    <li>As a Shapeshifter, you will have to be conscious of how you type from the start of the game. If the village suspects a shapeshift has occurred, they will check for likeness in typing styles between players. Some players choose to type differently than their usual style before their shift, so their typing styles will match less. Other things that people notice are activity times and voting patterns. Try to resemble the person you have shifted as much as possible.</li>
    <li>Shapeshifting can be an intense and nerve-racking business, but a well-executed shapeshift is one of the most powerful actions in the game!</li>
</ul>
