@model dynamic

@{
    ViewBag.Title = "Shapeshifter Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Shapeshifter</h2>

<p>The Shapeshifter is a powerful werewolf, able to turn the tide of an otherwise hopelessly lost game. The Shapeshifter has a one time ability to swap identities with a victim of the werewolves. The rest of the game will see that the Shapeshifter has died, but in truth, he has now assumed the identity of the dead villager.</p>

<h3>Notes about the Shapeshifter</h3>
<ul>
    <li>Once the Shapeshifter has used their ability, they revert into a normal werewolf</li>
</ul>