@model dynamic

@{
    ViewBag.Title = "Sleepwalker Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Sleepwalker</h2>

<p>Sleepwalkers believe they are a normal, powerless villager. However, each night phase they will randomly visit another living player. Their visit does nothing and the random target will receive no notification that a Sleepwalker visited them. However, these visits can be seen by roles such as the Stalker or Harlot.</p>