@model dynamic

@{
    ViewBag.Title = "Sleepwalker Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h1>Sleepwalker</h1>
<p>The Sleepwalker believes they are a regular Villager. However, during each night they will visit a random other living player. Their visit has no effect and their target will generally not be notified of the visit.</p>

<h2>Role Type</h2>
 <ul>
      <li>The Sleepwalker is seen as member of the village by the Seer.</li>
      <li>The Sleepwalker is not seen as a user of witchcraft by the Witchhunter.</li>
      <li>The Sleepwalker is seen visiting their target by the Harlot/Stalker/Familiar.</li>
</ul>

<h2>Tips for playing Sleepwalker</h2>
<ul>
     <li>The tips for the Villager apply to the Sleepwalker, as the Sleepwalker will at first think they are a regular Villager!</li>
     <li>Once somebody calls you out for visiting another person, consider what would be most helpful to say. If the village threatens to lynch you, you should usually speak the truth about your role. In other cases, it may be helpful to not be explicit why you visit because this will make you a target for the evil factions. They make think you have an important role, and thereby you distract them from more powerful village-aligned characters! </li>
</ul>
