@model dynamic

@{
    ViewBag.Title = "Stalker Role in Online Werewolf | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Stalker</h2>

<p>The Stalker can stalk one player per night, they are free to stalk the same player multiple nights in a row.</p>
<p>In the morning, the Stalker will get a message from the moderator telling them who their target visited last night.</p>

<h3>Notes about the Stalker Role</h3>
<p>For the Stalker to see a wolf visiting a player, the Stalker would have to visit the 'killing wolf'. The same logic that determines which wolf a Harlot would see if they visited the wolf target is used to decide this.</p>