@model dynamic

@{
    ViewBag.Title = "The Succubus (Coven) | third party faction in werewolf and mafia | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>The Succubus (Coven)</h2>

<p>The Succubus is a member of the Coven who can redirect the abilities of other players at night.</p>

<h3>Notes on the Succubus</h3>
<ul>
    <li>The Vampire is immune to the Succubus</li>
    <li>The Succubus can redirect wolves to kill other wolves</li>
    <li>The Succubus can redirect the Protector to protect the same player twice in a row</li>
    <li>If the Protector is manipulated, they will be unable to Protect that target again the following night (although the Succubus could force them to)</li>
    <li>The Succubus can manipulate players into targetting either living or dead players. The Gravedigger cannot learn the role of a living player, but the Seer can learn the alingment of a dead player</li>
    <li>The manipulated player is not notified that they have been controlled, but intel reports will usually contain the target's name in them, so player should be on the look out for this</li>
    <li>For Stalker and Harlot checks, the Succubus is considered to only have visited the controlled player, not their target</li>
</ul>
