@model dynamic

@{
    ViewBag.Title = "Tarot Reader Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Tarot Reader</h2>

<p>The Tarot Reader is villager with the once-per-game ability to discover what roles (and how many of each) are still alive in the game</p>

<h3>Notes</h3>
<ul>
    <li>The order of roles that are given are randomised </li>
    <li>Roles of dead players are not listed, this includes dead Messiahs who have used their power and will be resurrected</li>
</ul>