@model dynamic

@{
    ViewBag.Title = "Vampire Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Vampire</h2>

<p>The Vampire is a neutral killing role. Their aim is to kill everyone else: it doesn't matter whether they are members of the Village, of the Wolfpack, or of the Coven. If the Vampire is in the game, then the other factions' win conditions change to include the death of the Vampire. The Vampire also has the ability to recruit a Familiar, a player that will help the Vampire and may even bring them back from the dead!</p>

<h2>Role Type</h2>
<ul>
     <li>The Seer can accurately identify the Vampire's role.</li>
     <li>The Vampire is not seen as a user of witchcraft by the Witch Hunter.</li>
     <li>The Vampire is seen visiting by the Harlot/Stalker.</li>
 </ul>
 
<h2>Notes</h2>

<ul>
    <li>The Vampire cannot be killed by any nightly killing ability (by Wolfpack, Coven, and/or Village).</li>
    <li>The Vampire cannot be roleblocked by the Direwolf and neither can they be redirected by a Succubus.</li>
    <li>If the Vampire's target is guarded by the Huntsman, their attack has no effect (no one dies).</li>
    <li>The Protector works as normal against a Vampire. The target is still protected even if the Werewolves AND the Vampire attack the protected target.</li>
    <li>In the event of only a Vampire and a Werewolf being left alive, the Vampire automatically wins.</li>
    <li>The Vampire can recruit a single Familiar once per game. The Familiar has the ability of the Stalker. In addition, if the Vampire is killed, a living player will be marked for the Familiar. If the marked player dies for any reason, the Vampire will be reborn into the Familiar!</li>
</ul>

<h2>Tips for playing Vampire</h2>

<ul>
    <li>You should not wait too long with recruiting your Familiar. As long as you are still on your own, it only takes one village intel check on you to put you out of the game. Most players recruit the second night, at least not later than the third night.</li> 
    <li>The Vampire uses the first day(s) to assess which other players are active, have certain roles, are strategic players, etc - and uses this information to make the best possible recruit.</li>
    <li>In a game that includes a Vampire, there is often another evil faction present. These factions may have a certain interest in you surviving for some time, or not. Either way, they want you dead in the end, and you need to make sure that they cannot do so. For example: in a game that includes the Coven and a Vampire, the Coven wants the Vampire to survive at first, because they need the killing power. Once the village's numbers have dwindled enough, the Coven will want to kill the Vampire. It is your job to kill enough Coven and/or gain a better standing in the village than them so that they cannot expose you later in the game.</li>
    <li>If you are reborn into your Familiar, you have to take care that your chat activity matches that of the Familiar, because you may play as the Familiar's character in the end. This means that you have to be conscious of your typing style from the start of the game, and maybe change things so that your typing style matches that of the Familiar. Other things that people notice are activity times and voting patterns. If you come back from the Graveyard, try to resemble the person you are reborn into as much as possible.</li>
    <li>Consider whether it is smart to start killing at night as soon as you are reborn into your Familiar. It may be the case that the previous nights have passed without a kill, because without you there was no nightly killing power. If you start killing as soon as you are back from the Graveyard, the village may conclude that the last lynch/death was the Familiar's target. If your Familiar was involved in getting this person killed, the village may conclude from this who the Familiar was, and thus that you are the Vampire.</li>
</ul>
