@model dynamic		

@{		
    ViewBag.Title = "Vampire Role | werewolv.es";		
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";		
}		
		
<h2>Vampire</h2>		
  		
<p> The Vampire is a neutral killing role, whose aim is to kill all other factions in the game. If there is a Vampire in the game, the other factions' win conditions change to include the death of the Vampire. 
Vampires also have the ability to recruit a single Familiar, a player that becomes their ally and greatly increases the Vampire's survivability (see the 'Familiar' page for a description of this role).		
   
<p>There can be multiple Vampires in one game, but they always form separate factions: Vampires must fight against each other in order to win the game!</p>		
		
<h3>Role Type</h3>		
<ul>		
     <li>The Seer identifies this role as "Vampire".</li>		
     <li>The Vampire is not seen as a user of witchcraft by the Witch Hunter.</li>		
     <li>The Vampire is seen visiting by the Harlot, Stalker, and the Familiar (Stalker).</li>		
 </ul>		
 		
<h3>Notes</h3>		
		
<ul>		
    <li>The Vampire cannot be killed by any nightly killing ability (by Wolfpack, Coven, and/or Village).</li>		
    <li>The Vampire cannot be roleblocked by the Direwolf, purged by the Alchemist, nor redirected by the Succubus.</li>		
    <li>If the Vampire's target is guarded by the Huntsman, their attack has no effect (no one dies).</li>		
    <li>The Protector works as normal against a Vampire. The target is still protected even if the Werewolves AND the Vampire attack the protected target.</li>		
    <li>In the event of only a Vampire and a Werewolf being left alive, the Vampire automatically wins.</li>		
    <li>The night the Vampire recruits a Familiar, the Familiar cannot be killed by any ability.</li>		    	
    <li>The Vampire can recruit a single Familiar once per game, of type Stalker.</li>		
    <li>If the Vampire dies and their Familiar is alive, a random player among the living is marked (visible to the Familiar). If the marked player dies, the Vampire is reborn into the Familiar's body. The players are swapped along with their roles, the transition occurring unseen by the village.</li>		
</ul>		
	
<h3>Tips for playing the Vampire</h3>		
		
<ul>		
    <li>You should not wait too long with recruiting your Familiar. As long as you are still on your own, it only takes one village intel check on you to put you out of the game. Most players recruit the second night, or at least by the third night.</li> 		
    <li>The Vampire uses the first days to assess which other players are active, have certain roles, are strategic players, etc. The Vampire uses this information to make the best possible recruit.</li>		
    <li>In a game that includes a Vampire, there is often another evil faction present. These factions may have a certain interest in you surviving for some time, or not. Either way, they want you dead in the end, and you need to make sure that they cannot do so. For example: in a game that includes the Coven and a Vampire, the Coven wants the Vampire to survive at first, because they need the killing power. Once the village's numbers have dwindled enough, the Coven will want to kill the Vampire. It is your job to kill enough Coven members and/or gain a better standing in the village than them so that they cannot expose you later in the game.</li>		
    <li>If you are reborn into your Familiar, you have to take care that people do not notice the change of player. This means that you have to be conscious of your typing style from the start of the game, and maybe change things so that your typing style matches that of the Familiar. Other things that people notice are activity times and voting patterns. If you come back from the Graveyard, try to resemble the person you are reborn into as much as possible.</li>		
    <li>Consider whether it is smart to start killing at night as soon as you are reborn into your Familiar. It may be the case that the previous nights have passed without a kill, if there was no nightly killing power without you. If you start killing as soon as you are back from the Graveyard, the village may conclude that the last lynch/death was the Familiar's target. If your Familiar was involved in getting this person killed, the village may conclude from this who the Familiar was, and thus that you are the Vampire.</li>		
</ul>		
