@model dynamic

@{
    ViewBag.Title = "Vampire Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Vampire Master</h2>

<p>NOTE: the Vampire and the Vampire Master are two roles with many similarities, both functionally and thematically (and their names look alike). 
    There are several key differences between the roles. Both the overlapping characteristics and this role's unique aspects are described on this page.</p> 

<p> The Vampire Master is a neutral killing role, whose aim is to kill all other factions in the game. 
    If there is a Vampire Master in the game, the other factions' win conditions change to include the death of the Vampire Master. 
    The Vampire Master has the ability to recruit up to three Familiars, players that become their allies and greatly increase the Vampire Master's survivability 
    (also see the 'Familiar' page for a description of this role).</p>

<p>There can be multiple Vampire Masters in one game, but they always form separate factions: all Vampires must fight against each other in order to win the game!</p>

<h3>Role Type</h3>
<ul>
     <li>The Seer identifies this role as "Vampire Master".</li>
     <li>The Vampire Master is not seen as a user of witchcraft by the Witch Hunter.</li>
     <li>The Vampire Master is seen visiting by the Harlot, Stalker, and the Familiar (Stalker).</li>
 </ul>
 
<h3>Notes</h3>

<ul>
    <li>The Vampire Master cannot be killed by any nightly killing ability (by Wolfpack, Coven, and/or Village).</li>
    <li>The Vampire Master cannot be roleblocked by the Direwolf, purged by the Alchemist, nor redirected by the Succubus.</li>
    <li>If the Vampire Master's target is guarded by the Huntsman, their attack has no effect (no one dies).</li>
    <li>The Protector works as normal against a Vampire Master. The target is still protected even if the Werewolves AND a Vampire Master attack the protected target.</li>
    <li>In the event of only a Vampire Master and a Werewolf being left alive, the Vampire Master automatically wins.</li>
    <li>The night the Vampire Master recruits a Familiar, the Familiar cannot be killed by any ability.</li>
    <li>The Vampire Master can recruit up to three Familiars per game. They can be of type Stalker, Gravedigger, and/or Militia. Every Familiar becomes one of these three roles randomly, and multiple Familiars can be of the same type.</li>
    <li>If the Vampire Master dies they do not go the Graveyard, provided there is at least one Familiar alive. The Vampire Master immediately transitions into the body of the first-recruited Familiar that is still alive. The Vampire Master can only be killed through a lynch, and so the transition occurs at nightfall. The Vampire Master is able to use their ability the same night.</li>
</ul>

<h3>Tips for playing the Vampire Master</h3>

<ul>
    <li>The Vampire Master is vulnerable at any moment they do not have one living Familiar. Therefore, make sure to (almost) always have at least one Familiar alive (recruiting on the first night is therefore often a good option). Even if both you and your Familiar are exposed, you cannot both be killed before you have another opportunity to recruit another Familiar (if you haven't recruited three Familiars yet).</li>
    <li>Recruiting multiple Familiars will help you create a loyal group within the village, who might be trusted by others because of their previous actions and confirmed role abilities. Familiars may be vulnerable to other killing roles, especially those of opposing evil factions. You must assess which other evil factions there are (if any), in deciding whom and when to recruit.</li> 
    <li>Based on the consideration described in the previous point you can go for creating a team of Familiars early to create a foothold in the village and be able to steer discussions and lynches, or for recruiting only one Familiar at a time and thus adopting a more elusive playstyle, keeping yourself under the radar. Of course, there are intermediate strategies, and you can always adjust your play style during the game (although you can never undo recruits, obviously).</li>
    <li>If you are reborn into your Familiar, you have to take care that people do not notice the change of player. This means that you have to be conscious of your typing style from the start of the game, and maybe change things so that your typing style matches that of the Familiar(s). Other things that people notice are activity times and voting patterns. Try to resemble the person you are reborn into as much as possible. You could discuss this with your Familiar beforehand. For example, you could try to adopt similar typing styles while you're both alive, so that the transition is made easier. Alternatively, you could adopt very different typing styles, but in such a way that it's easy to transition from style to the other.</li>
</ul>
