@model dynamic

@{
    ViewBag.Title = "Vampire Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Vampire</h2>

<p>The Vampire is a neutral killing role. Their aim is to kill everyone else, villagers and werewolves alike. If the Vampire is in the game, then the Werewolves win condition changes to include the death of the Vampire.</p>

<ul>
    <li>The Seer check reveals a Vampire.</li>
    <li>If the Vampire attacks, they cannot be killed by the Werewolves that night. (but the Vampire may kill a wolf).</li>
    <li>If the Vampire's target is guarded by the Huntsman, their attack has no effect (no one dies).</li>
    <li>The Protector works as normal against a Vampire. The target is still protected even if the Werewolves AND the Vampire attack the protected target</li>
    <li>The Graverobber cannot become a Vampire.</li>
    <li>A Vampire can be brought back by the Reviver.</li>
    <li>In the event of only a Vampire and a Werewolf being left alive, the Vampire automatically wins.</li>
    <li>The Vampire cannot be killed by a Witch or a Militia</li>
    <li>The Vampire can recruit a single Familiar once per game</li>
</ul>