@model dynamic

@{
    ViewBag.Title = "Werewolf Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Werewolf</h2>

<p>The werewolves represent the informed minority. It is their goal to remain undetected long enough to kill every villager. Each werewolf is aware who the wolves are and can communicate in secret.</p>