@model dynamic

@{
    ViewBag.Title = "The Witch (Coven) | third party faction in werewolf and mafia | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h1>Witch</h1>

<p>The Witch is a member of the Coven who possesses two potions: one can kill, the other can revive a dead player. Both potions can only be used once. </p>

<h2>Role Type</h2>
<ul>
    <li>The Witch is seen as a member of the Coven by the Seer.</li>
    <li>The Witch is seen as a user of witchcraft by the Witchhunter.</li>
    <li>The Witch is seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h2>Notes</h2>
<ul>
    <li>Both the Witch's potions are seen as visit. Since the Witch can use both potions the same night, it is possible that she is seen visiting two players.</li>
    <li>When a player is revived by the Witch, the village receives the same message as they would if a Reviver used their power.</li>
    <li>The Witch's kill potion ignores a Protector, Shaman, and/or Huntsman guarding the target.</li>
    <li>The Vampire cannot be killed by the Witch's potion.</li>
</ul>

<h2>Tips for playing Witch</h2>
<ul>
    <li>For some general tips on how to play as a member of the Coven, look at the corresponding section in the 'Factions' page.</li>
    <li>A Witch has the combined abilities of a Reviver and a Militia - she can prove herself as either of these roles. Note: a Reviver is seen visiting when they revive, a Witch is not - this detail may cost you!</li>
    <li>It is often helpful to save the kill potion - if circumstances permit it - to a later stage in the game, when you have more knowledge about the game; unless you can expect that you will not survive for long.</li>
    <li>If you revive a fellow Coven member at the right time, they may pretend to be a Messiah returning from the game. Note: because this has been done by Coven teams on several occasions, the alleged Messiah may be treated with suspicion when returning to the village. A Djinn may help here by changing your deceased teammate into a character who is most believable as Messiah.</li>
</ul>
