@model dynamic

@{
    ViewBag.Title = "Witch Hunter Role | werewolv.es | Werewolf and Mafia Roles";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Witch Hunter</h2>

<p>The Witch Hunter is a village-aligned hybrid intel/killing role. Their ability allows them to discover users of witchcraft at night. In future nights, the Witch Hunter may elect to kill a previously found witchcraft user.</p>

<h2>Role Type</h2>
<ul>
     <li>The Witch Hunter is seen as member of the village by the Seer.</li>
     <li>The Witch Hunter is not seen as a user of witchcraft by another Witch Hunter.</li>
     <li>The Witch Hunter is seen visiting by the Harlot/Stalker/Familiar.</li>
 </ul>
 
<h2>Notes</h2>
<ul>
    <li>Once a witchcraft user is a found, their name will be highlighted in red the following night. The mark lasts the entire game.</li>
    <li>Dead players lose their mark, but if a once-marked player is revived their mark will also return.</li>
    <li>Witchcraft users can be traced through shapeshifts and Djinn-swaps. However, the marks on players are not unique, so any character-swaps between two marked players will remain invisible.</li>
    <li>A subsequent visit to a marked witchcraft user will kill them.</li>
    <li>The Witch Hunter's kill ignores protection (Shaman, Protector, Huntsman).</li>
    <li>Evil witchcraft users: all Coven roles (including Puppets) and Shapeshifters.</li>
    <li>Good witchcraft users: Seers, Protectors, Revivers, Beholders, and Tarot Readers.</li>
</ul>

<h2>Tips for playing Witch Hunter</h2>
<ul>
    <li>There is both an upside and a downside to exposing yourself to the village. The upside is that you can communicate with the village about the players you've marked, and you can confirm with them whether you should kill a certain marked player - this reduces the risk you're killing a valuable village member. It also helps the village if they understand how a certain player has died. The downside is that you are a valuable target once exposed - both Coven members and/or any Wolfpacks that rely on Shapeshifters will want you dead as soon as possible.</li>
    <li>If you notice that any of your marked players have switched characters, you could wait with sharing this information. Members of the village will usually say if their character has been swapped. Thus, if the player in question does not speak about it, he is probably an enemy of the village.</li>   
</ul>
