@model dynamic

@{
    ViewBag.Title = "The Witch (Coven) | third party faction in werewolf and mafia | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>The Witch (Coven)</h2>

<p>The Witch is a member of the Coven who is armed with two potions, one can kill, one can revive a dead player. These are both one-use abilities per game. </p>

<h3>Notes on the Witch</h3>
<ul>
    <li>When a player is revived by the witch, the village receives the same message as they would if a Reviver used their power</li>
    <li>The Witches kill potion ignores Protector and Huntsman protection on the target</li>
    <li>The Vampire cannot be killed by the Witches potion</li>
</ul>
