@model dynamic

@{
    ViewBag.Title = "Witch Hunter Role | werewolv.es | Werewolf and Mafia Roles";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Witch Hunter</h2>

<p>The Witch Hunter is a village aligned hybrid intel/killing role. Their ability allows them to discover witch craft users at night. On future nights, the Witch Hunter may elect to kill a previously found witchcraft user.</p>

<h3>Notes</h3>
<ul>
    <li>Once a witchcraft user is a found, their name will be highlighted in red the following night</li>
    <li>Witchcraft users can be traced through shapeshifts and Djinn-swaps</li>
    <li>A subsequent visit to a marked witchcraft user will kill them</li>
    <li>The Witch Hunter's kill ignores protection (Shaman, Protector, Huntsman)</li>
    <li>Evil witchcraft users: All Coven Roles (including Puppets) and Shapeshifters</li>
    <li>Good witchcraft users: Seers, Protectors, Revivers, Beholders, Tarot Readers.</li>
</ul>