@model dynamic

@{
    ViewBag.Title = "Zealot Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Zealot</h2>

<p>The Zealot is a village aligned killing role. They are intent on ridding their village from evil and are willing to take matters into their own hands if the rest of the village refuses to bring justice upon those that deserve it. If the village fails to lynch a player during the day, the Zealot will randomly kill someone that night. The Zealot cannot kill themselves, and they cannot kill night-immune roles such as the Vampire, but their kill will go through protection spells and totems.</p>