@model dynamic

@{
    ViewBag.Title = "Items in Online Werewolf | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Items in werewolv.es</h2>

<p>Items were an unannounced, surprise feature in ext-300. They have appeared in a few games since, but are not always included in a setup.</p>

<p>Items are either persistent or consumable. Consumable items disappear from the game once they have been used.</p>
<p>Items are either active or passive. Active items must be initiated by the Player that has control of them for them to work.</p>
<p>Passive and Consumable items such as Steel Armour or a Wolf Pelt will offer automatic protection from a single attack, but will be consumed and lost once an attack is blocked.</p>
<p>Items may be stolen by roles such as a thief, stolen by killing a player, or stolen by using a Potion of Acquiescence.</p>
<p>Items may also be passed to a player during the night.</p>
<p>Items such as the potions and other targeted items count as visits and can be seen by other roles.</p>
<p>More information regarding specific items will be added to the guide in good time. If you have any other questions about them, ask on <a href="https://discordapp.com/invite/xFHCsJ6" target="_blank">Discord</a> or on <a href="https://gaming.stackexchange.com/questions/tagged/werewolv.es" target="_blank">Arqade</a>.</p>

<h3>Items in ext-300</h3>
<h4>Active and Consumable</h4>
<ul>
    <li>Arcanum - The Arcanum is used once per game. The day after it is used, votes will be obscured - it will be not be known who the votes are cast by.</li>
    <li>Crossbow - This will kill a player at night. Protection will stop the kill and a Huntsman will kill you and himself.</li>
    <li>Inordinatum - The inordinatum will swap the identies of every living player with another random living player.</li>
    <li>Potion of Acquiescence - This is used to steal all of the items a player has.</li>
    <li>Potion of Clarity - This is used to find out a player's role.</li>
    <li>Potion of Resilience - This grants a player immunity from roleblocks for two nights in a row.</li>
    <li>Potion of Restoration - This recharges a player's single use abilities e.g Revivers, Masons, Witches etc.</li>
    <li>Potion of Vulnerability - This removes a player's night immunity the night after it is used.</li>
    <li>Potion of Weakness - This will roleblock a player the following night.</li>
    <li>Sanguine Horn - This triggers a Blood Moon which will afflict approximately 25% of the village with lycanthropy.</li>
</ul>
<h4>Active and Persistent</h4>
<ul>
    <li>Demonic Eye - The Demonic Eye allows the player holding it to see who is blighted. It also allows them to remove blight from one player a night.</li>
    <li>Gauntlet of Blight - The Gauntlet is used by the player to blight one person per night.</li>
    <li>Heart of Hades - The Heart of Hades is used to kill all of the players who have been blighted.</li>
    <li>Hell Helm - The Hell Helm allows the player to see all the messages a player says during the night.</li>
</ul>
<h4>Passive and Consumable</h4>   
<ul>
    <li>Ankh of Retribution - If you are killed during the night whilst holding the Ankh, the player who killed you will be murdered, however, protection is able to block the attack.</li>
    <li>Ankh of Reincarnation - If you are killed while holding the Ankh, you will be revived a day later.</li>
    <li>Heart of Fenrir - This grants the holder night immunity. However, if all the wolves are dead, it turns the holder into an Omegawolf.</li>
    <li>Plot Armour - This will protect the holder from a single night kill (used at Mod's discretion).</li>
    <li>Steel Armour - This will protect the holder from a single night kill.</li>
    <li>Wolf Pelt - This will protect the holder from a single night kill, however it will make them look like a wolf to the Seer.</li>
</ul>
<h4>Passive and Persistent</h4>
<ul>
    <li>Abyssal Armour - This will grant the holder night immunity, however it will make them look like a Demon to the Seer.</li>
    <li>Disruption Orb - This will roleblock the anyone who visits the holder that isn't night immune. However, it will roleblock you every night as well.</li>
    <li>Dreamcatcher - A Dreamcatcher will tell the holder who visited them at night.</li>
    <li>Invisibility Cloak - The Invisibility Cloak will hide the holder's visits from roles such as the Stalker, Harlot or Insomniac.</li>
    <li>Ring of Tenacity - The Ring prevents the holder from being roleblocked.</li>
    <li>Veil of Shadows - The Veil will make the holder appear innocent to intel roles like the Seer and Witch Hunter.</li>
</ul>
