@model dynamic

@{
    ViewBag.Title = "Items in Online Werewolf | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Items in werewolv.es</h2>

<p>Items were an unannounced, surprise feature in ext-300. They have appeared in a few games since, but are not always included in a setup.</p>

<p>Items are either persistent or consumable. Consumable items disappear from the game once they have been used.</p>
<p>Items are either active or passive. Active items must be initiated by the Player that has control of them for them to work.</p>
<p>Passive and Consumable items such as Steel Armour or a Wolf Pelt will offer automatic protection from a single attack, but will be consumed and lost once an attack is blocked.</p>
<p>Items may be stolen by roles such as a thief, stolen by killing a player, or stolen by using a Potion of Acquiescence.</p>
<p>Items may also be passed to a player during the night.</p>
<p>More information regarding specific items will be added to the guide in good time. If you have any other questions about them, ask on the Discord.</p>

<h3>Items in ext-300</h3>
<h4>Active and Consumable</h4>
<ul>
    <li>Arcanum</li>
    <li>Crossbow</li>
    <li>Inordinatum</li>
    <li>Potion of Acquiescence</li>
    <li>Potion of Clarity</li>
    <li>Potion of Resilience</li>
    <li>Potion of Restoration</li>
    <li>Potion of Vulnerability</li>
    <li>Potion of Weakness</li>
    <li>Sanguine Horn</li>
</ul>
<h4>Active and Persistent</h4>
<ul>
    <li>Demonic Eye</li>
    <li>Gauntlet of Blight</li>
    <li>Heart of Hades</li>
    <li>Hell Helm</li>
</ul>
<h4>Passive and Consumable</h4>   
<ul>
    <li>Ankh of Retribution</li>
    <li>Ankh of Reincarnation</li>
    <li>Heart of Fenrir</li>
    <li>Plot Armour</li>
    <li>Steel Armour</li>
    <li>Wolf Pelt</li>
</ul>
<h4>Passive and Persistent</h4>
<ul>
    <li>Abyssal Armour</li>
    <li>Disruption Orb</li>
    <li>Dreamcatcher</li>
    <li>Invisibility Cloak</li>
    <li>Ring of Tenacity</li>
    <li>Veil of Shadows</li>
</ul>
