@model dynamic

@{
    ViewBag.Title = "Rules | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Rules</h2>
<p>In general, you can lie and say pretty much whatever you want during a game of werewolves. However, there are some ground rules:</p>
<ul>
    <li>No personal insults, racism, sexism, homophobic remarks etc - keep it civil!</li>
    <li>No copy/pasting/screenshots of role information, night messages or mod messages.</li>
    <li>No talking about an active game anywhere outside of the game room itself.</li>
    <li>Do not ask for (or volunteer) information from outside the game.</li> 
    <li>Do not reveal your real identity anywhere outside of your team's night chat.</li>
</ul>

<h3>Problems or Issues</h3>
<p>If something unexpected happens or you are unsure of anything, the following rules apply:</p>
<ul>
    <li>If you suspect there is a bug in the game, contact a mod directly. If they are available and it's possible for them to help, they will.</li>
    <li>You are free to mention a suspected bug in game <strong>but if you do the mod will not backfill any information for you, nor confirm or deny any bug existence whilst the game is active.</strong> This is to avoid a bug being used to confirm a player's role.</li>
</ul> 
