@model dynamic

@{
    ViewBag.Title = "Demonlord (Demonlords) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h3>Demonlord</h3>

<p>The Demonlord can blight players and then ignite them, causing mass deaths.</p>

<h3>Role Type</h3>
<ul>
    <li>The Demonlord is seen as member of the Demonlords by a Seer.</li>
    <li>The Demonlord is not seen as user of witchcraft</li>
    <li>The Demonlord is seen visiting by the Harlot/Stalker/Familiar.</li>
    <li>The Demonlord is seen as a killer by the Adjudicator.</li>
</ul>

<h3>Notes</h3>
<ul>
    <li>The Demonlord has to choose between blighting and igniting in a given night; he can't do both.</li>
    <li>The Demonlord bypasses the protection of the Protector, Huntsman, etc.</li>
    <li>A player who is blighted and then dies and is revived is no longer blighted.</li>
</ul>

<h3>Tips for playing Demonlord</h3>
<ul>
</ul>

<h3>History</h3>
<p>2016-12-27: DemonLord introduced in ext-100</p>
