@model dynamic

@{
    ViewBag.Title = "Neutral Roles | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Neutral Roles</h2>

<p>The Neutral Roles are held by players who, either permanently or temporarily, are not aligned with any other faction of players having the same win condition.</p>

<h3>Tips for playing as Neutral Roles</h3>
