@model dynamic

@{
    ViewBag.Title = "BloodPriest (Bloodmoon Cult) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>BloodPriest</h2>

<p>The BloodPriest is a member of the Bloodmoon Cult with the ability to mark players with the Rite of Fenrir. If a player marked with this is killed the same night, they will be converted into a Werewolf.</p>

<h3>Role Type</h3>
<ul>
	<li>The BloodPriest is afflicted with Lycanthropy.</li>
    <li>The BloodPriest is seen as member of the Wolfpack by the Seer.</li>
    <li>The BloodPriest is seen as a user of witchcraft.</li>
    <li>The BloodPriest is seen visiting by the Harlot/Stalker/Familiar.</li>
 </ul>

<h3>Notes</h3>
<ul>
    <li>Only players afflicted with Lycanthropy can be marked.</li>
    <li>The BloodPriest can help the wolves convert village members into Wolfpack to bolster their ranks.</li>
    <li>The player marked by the Rite of Fenrir must be killed the same night that they are marked.</li>
</ul>

<h3>Tips for playing BloodPriest</h3>
<ul>
    <li>If the BloodPriest manages to get another cult member converted, then they can then help with picking future targets and wolf kills, so it may be worth coming up with a plan for this eventuality and how you would go about signalling between the factions.</li>
</ul>

<h3>History</h3>
<p>2019-01-01: BloodPriest introduced in ext-300</p>
