@model dynamic

@{
    ViewBag.Title = "BloodSeer (Bloodmoon Cult) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h3>BloodSeer</h3>

<p>The BloodSeer can sense wolf blood. Once per night they can check a player and will learn if that player has wolfblood or not. Members of the Wolfpack, Players afflicted with Lycanthropy and Players marked by the Bloodletter all have wolf blood.</p>

<h3>Role Type</h3>
<ul>
    <li>The BloodSeer is afflicted with Lycanthropy.</li>
    <li>The BloodSeer is seen as member of the Wolfpack by a Seer.</li>
    <li>The BloodSeer is not seen as user of witchcraft</li>
    <li>The BloodSeer is seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h3>Notes</h3>
<ul>
    <li>The BloodSeer's checks will either be that the player has werewolf blood or does not have werewolf blood.</li>
    <li>The BloodSeer's report is mistaken if their target is marked by the Bloodletter.</li>
    <li>The BloodSeer can not tell the difference between an actual Werewolf, or someone afflicted with Lycanthropy.</li>
</ul>

<h3>Tips for playing BloodSeer</h3>
<ul>
    <li>In a game with only Wolfpack and Village, the BloodSeer can be an effective fake-seer.</li>
    <li>The BloodSeer can hint themselves to the Wolfpack by clearing one of their members if they know who they are.</li>
</ul>

<h3>History</h3>
<p>2019-01-01: BloodSeer introduced in ext-300</p>
