@model dynamic

@{
    ViewBag.Title = "Rune Smith (The Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Rune Smith</h2>

<p>The Rune Smith is a village-aligned role that makes runes.</p>

<h3>Role Type</h3>
<ul>
     <li>The Rune Smith is seen as member of the village by the Seer.</li>
     <li>The Rune Smith is not seen as a user of witchcraft.</li>
     <li>The Rune Smith is not seen as a killer by an Adjudicator.</li>
 </ul>

<h3>Notes</h3>
<ul>
    <li>The Rune Smith spends either 1, 2 or 3 nights making a rune, depending on the tier.</li>
</ul>
<h3>Rune Tiers</h3>
<ul>
  <li>Tier 1 (1 night) - Fela; Fj&auml;t; Hv&iacute;sla; T&ouml;frar</li>
  <li>Tier 2 (2 nights) - &Aacute;rvekni; Avleda</li>
  <li>Tier 3 (3 nights) - Sj&oacute;n</li>
</ul>

<h3>History</h3>
<p>2019-07-02: Rune Smith introduced in ext-333</p>
