@model dynamic

@{
    ViewBag.Title = "Alphawolf (The Wolfpack) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Alphawolf</h2>
<p>The Alphawolf is a fierce wolf who once per game can enrage themselves in the night and slaughter a second victim on their own.</p>

<h3>Role Type</h3>
<ul>
    <li>The Alphawolf is seen as a member of the Wolfpack by the Seer.</li>
    <li>The Alphawolf is not seen as a user of witchcraft.</li>
    <li>The Alphawolf is seen visiting by the Harlot/Stalker/Familiar (see Notes).</li>
    <li>The Alphawolf is seen as a killer by the Adjudicator.</li>
</ul>

<h3>Notes</h3>
<ul>
    <li>The extra kill is subject to all of the same rules as a normal wolf kill. It can be blocked by a Protector. The Alphawolf can be killed by a Huntsman, and it won't work on a Vampire.</li>
    <li>If the Alphawolf is responsible for both the regular wolf kill and their own extra kill, they can be seen visiting two players.</li>
    <li>If the extra kill fails for whatever reason, the Alphawolf does NOT get another one, it's gone for the rest of the game!</li>

<h3>Tips for playing Alphawolf</h3>
<ul>
    <li>For some general tips on how to play as a member of the Wolfpack, look at the corresponding section in the 'Factions' page.</li>
    <li>Two deaths in the morning may leave the village thinking that a Huntsman got lucky and killed a wolf.</li>
    <li>The Alphawolf's extra kill is generally used for two reasons: early on, to thin the village out before they have a chance to unite themselves, or when multiple village roles have announced themselves and you want to kill as many of them as possible.</li>
</ul>
