@model dynamic

@{
    ViewBag.Title = "Bloodthirster (The Wolfpack) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Bloodthirster</h2>

<p> The Bloodthirster is a powerful addition to the Wolfpack. Each night that the Bloodthirster is alive and there are more than 4 members of the Wolfpack alive, the Wolfpack gains an extra kill.</p>

<h3>Role Type</h3>

<ul>
    <li>The Bloodthirster is seen as a member of the Wolfpack by the Seer.</li>
    <li>The Bloodthirster is not seen as a user of witchcraft by the Witch Hunter.</li>
    <li>The Bloodthirster makes no visit and is not seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h3>Notes</h3>

<ul>
    <li>Different wolves must take each of the available kills.</li>
    <li>The Bloodthirster may act as a killing wolf.</li>
    <li>Once the Wolfpack has only 4 or less living wolves, the Bloodthirster is effectively a regular Werewolf.</li>
</ul>

<h3>Tips for playing Bloodthirster</h3>
<ul>
    <li>For some general tips on how to play as a member of the Wolfpack, look at the corresponding section in the 'Factions' page.</li>
</ul>

<h3>History</h3>
<p>2019-01-01: Bloodthirster introduced in ext-300</p>
