@model dynamic

@{
    ViewBag.Title = "Bloodletter (The Wolfpack) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Bloodletter</h2>

<p>Bloodletters spill their own blood and mark their target with it. If the Seer checks that target on the same night, they will believe the target is a werewolf. The power of the blood wears off quickly, so on subsequent nights the target will appear innocent to the Seer once again.</p>

<h3>Role Type</h3>
<ul>
    <li>The Bloodletter is seen as a member of the Wolfpack by the Seer.</li>
    <li>The Bloodletter is not seen as a user of witchcraft by the Witch Hunter.</li>
    <li>The Bloodletter is seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h3>Notes</h3>
<ul>
    <li>There are 2 explanations for a village member being seen as a member of the Wolfpack by the Seer: the target is marked by the Bloodletter, or the target is a Lycan.</li>
    <li>The Bloodletter does not attack their target and therefore does not trigger abilities like that of the Huntsman or Shaman.</li>
    <li>If there are no killing wolves left in the Wolfpack, the Bloodletter will become a normal Werewolf; the Bloodletter will revert before a Direwolf would revert, but after a Bloodhound would.</li>
</ul>

<h3>Tips for playing Bloodletter</h3>

<ul>
    <li>For some general tips on how to play as a member of the Wolfpack, look at the corresponding section in the 'Factions' page.</li>
    <li>Consider who you think the Seer would check at a certain night - because they were silent during the day, or acted suspiciously in some way - and make sure to mark them!</li>
</ul>



