@model dynamic

@{
    ViewBag.Title = "Omegawolf (The Wolfpack) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Omegawolf</h2>

<p>The Omegawolf is a member of the Wolfpack and the last of their kind. The Omegawolf is a powerful wolf who as well as killing their target, will also kill anyone else who visits the same target.</p>

<h3>Role Type</h3>
<ul>
    <li>The Omegawolf is seen as a member of the Wolfpack by the Seer.</li>
    <li>The Omegawolf is not seen as a user of witchcraft.</li>
    <li>The Omegawolf is seen visiting by the Harlot/Stalker/Familiar (see Notes).</li>
    <li>The Omegawolf is seen as a killer by the Adjudicator.</li>
</ul>

<h3>Notes on the Omegawolf</h3>
<ul>
	<li>When the Omegawolf visits a target they will kill the target and ALL other visitors</li>
	<li>In addition to being able to visit other players and kill, the Omegawolf can also choose to guard themselves, in which case they will kill anyone who visits them.</li>
	<li>The Omegawolf is only seen visiting their target, not the other visitors.</li>
	<li>The Omegawolf cannot be killed at night, role-blocked, or redirected by the Succubus.</li>
	<li>The Omegawolf can kill a protector who is visiting another player (but not the target of the protection) - but not if the protector chooses to visit themselves.</li>
</ul>

<h3>Tips for playing Omegawolf</h3>
<ul>
    <li>The Omegawolf can ruin some plans made by the village to have multiple visitors to a target by killing them all in one go. (Be careful of Beholders - they will not be killed!)</li>
</ul>

<h3>History</h3>
<p>2018-01-01: Omegawolf introduced in ext-200</p>
