@model dynamic

@{
    ViewBag.Title = "Displaced (Neutral) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Displaced</h2>

<p>The Displaced is a neutral role that is created by the Essence Thief stealing the player's original role.</p>
<p>Once a player has become displaced, they must recover their original role before the game ends in order to not lose.</p>

<h3>Role Type</h3>
<ul>
    <li>The Displaced is seen as a neutral Party by the Seer.</li>
    <li>The Displaced is seen as a user of witchcraft by the Witch Hunter.</li>
    <li>The Displaced is seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h3>Notes on the Displaced</h3>
<ul>
    <li>The Displaced is only used in Speed Games.</li>
</ul>

<h3>Tips for playing Displaced</h3>
<ul>
</ul>

<h3>History</h3>
<p>2018-09-15: Displaced introduced in spd-117</p>