@model dynamic

@{
    ViewBag.Title = "Essence Thief (Neutral) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Essence Thief</h2>

<p>The Essence Thief is a neutral player. Their goal is to steal a player's role and to keep it until the end of the game.</p>
<p>The victim of the Essence Thief becomes 'Displaced' and will be trying to re-capture their original role.</p>

<h3>Role Type</h3>
<ul>
    <li>The Essence Thief is seen as a neutral Party by the Seer.</li>
    <li>The Essence Thief is seen as a user of witchcraft by the Witch Hunter.</li>
    <li>The Essence Thief is seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<p>Once the Essence Thief successfully steals a role from a player, they become that role completely, including any night chats. One time abilities will be available to them even if the victim had already used it.</p>

<h3>Notes on the Essence Thief</h3>
<ul>
    <li>The Essence Thief is only used in Speed Games.</li>
</ul>

<h3>Tips for playing Essence Thief</h3>
<ul>
</ul>

<h3>History</h3>
<p>2018-09-15: Essence Thief introduced in spd-117</p>