@model dynamic

@{
    ViewBag.Title = "Tanner (Neutral) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Tanner</h2>

<p>The Tanner is a neutral player. They hate their job and they want out. The Tanner wins the game by getting lynched. If they are lynched, the game immediately ends.</p>

<h3>Role Type</h3>
<ul>
    <li>The Tanner is seen as a neutral Party by the Seer.</li>
    <li>The Tanner is not seen as a user of witchcraft by the Witch Hunter.</li>
    <li>The Tanner does not have a night action so will not be seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h3>Notes on the Tanner</h3>
<ul>
    <li>The Tanner only wins if they are lynched, being killed at night does not count.</li>
    <li>The Tanner is only used in Speed Games.</li>
</ul>

<h3>Tips for playing Tanner</h3>
<ul>
    <li>Tanners are a danger to the wolves as well as the village. Don't rely on the wolves being happy to bandwagon a vote against you if you are too obvious.</li>
</ul>

<h3>History</h3>
<p>2018-XX-XX: Tanner introduced in spd-100</p>