@model dynamic

@{
    ViewBag.Title = "Items in Online Werewolf | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Items in werewolv.es</h2>

<p>Items were an unannounced, surprise feature in ext-300. They have appeared in games since, but are not always included in a setup.</p>

<p>Items are either persistent or consumable. Consumable items disappear from the game once they have been used.</p>
<p>Items are either active or passive. Active items must be initiated by the Player that has control of them for them to work.</p>
<p>Passive and Consumable items such as Steel Armour or a Wolf Pelt will offer automatic protection from a single attack, but will be consumed and lost once an attack is blocked.</p>
<p>Items may be stolen by roles such as a thief, stolen by killing a player or stolen by using a Potion of Acquiescence.</p>
<p>Items may also be passed to a player during the night.</p>
<p>Items which have an active ability cannot be passed and used on the same night.</p>
<p>Items such as the potions and other targeted items count as visits and can be seen by other roles.</p>
<p>More information regarding specific items will be added to the guide in good time. If you have any other questions about them, ask on <a href="https://discordapp.com/invite/xFHCsJ6" target="_blank">Discord</a> or on <a href="https://gaming.stackexchange.com/questions/tagged/werewolv.es" target="_blank">Arqade</a>.</p>

<h3>Items</h3>
<h4>Active and Consumable</h4>
<dl>
  <dt>Arcanum</dt>
  <dd>Votes will be obscured the day after it is used - it will not be known who the votes are cast by.</dd>
  <dt>Arcurrum</dt>
  <dd>The day after use will be shorter than usual. (Only used in Speed Games)</dd>
  <dt>Concitiorum</dt>
  <dd>The village will be forced two lynch two players the day after it is used.</dd>
  <dt>Crossbow</dt>
  <dd>Kills a player at night. Protection will stop the kill and a Huntsman will kill you and himself.</dd>
  <dt>Dagger of Paranoia</dt>
  <dd>Kills a random player who visits the holder at night. However, the item will still be consumed and lost even if no-one visits you.</dd>
  <dt>Greater Arcanum</dt>
  <dd>Votes will be obscured the day after it is used - it will not be known who the votes are cast by, or for. Also removes the village option of a no lynch.</dd>
  <dt>Heavy Shield</dt>
  <dd>If activated, it will protect the holder from a single night kill. However, when activated it will also role-block the holder.</dd>
  <dt>Inordinatum</dt>
  <dd>Swaps the identities of every living player with another random living player.</dd>
  <dt>Poisoned Darts</dt>
  <dd>Poisons a player. When poisoned, a player has a 50% chance of being role-blocked and a 25% chance of dying. The poison lasts for 3 nights.</dd>
  <dt>Potion of Acquiescence</dt>
  <dd>Steals all of the items a player has.</dd>
  <dt>Potion of Clarity</dt>
  <dd>Finds out a player's role.</dd>
  <dt>Potion of Cleansing</dt>
  <dd>Removes a player's negative effects e.g. poison.</dd>
  <dt>Potion of Inebriation</dt>
  <dd>Makes a player drunk for the rest of the game, giving them a chance to fail their night action</dd>
  <dt>Potion of Pollymorph</dt>
  <dd>Turns a player into a parrot for one day.</dd>
  <dt>Potion of Resilience</dt>
  <dd>Grants a player immunity from role-blocks for two nights in a row.</dd>
  <dt>Potion of Restoration</dt>
  <dd>Recharges a player's single use abilities e.g Revivers, Masons, Witches etc.</dd>
  <dt>Potion of Transmutation</dt>
  <dd>Gives a player a new role from within their faction. Does not affect players with night immunity.</dd>
  <dt>Potion of Vulnerability</dt>
  <dd>Removes a player's night immunity the night after it is used.</dd>
  <dt>Potion of Weakness</dt>
  <dd>Role-blocks a player the following night.</dd>
  <dt>Minor Potion of Clarity</dt>
  <dd>Finds out a player's alignment.<dd>
  <dt>Sanguine Horn</dt>
  <dd>Triggers a Blood Moon which will afflict approximately 25% of the village with lycanthropy.</dd>
  <dt>Rusty Crossbow</dt>
  <dd>A crossbow with a 50% chance of backfiring and killing the user.</dd>
  <dt>Tumultum</dt>
  <dd>Sounds a horn during the night which makes every player randomly visit someone else, and be able to see anyone who visits them</dd>
  <dt>War Spear</dt>
  <dd>Kills a player at night. However, it will also role-block you. Protection will stop the kill and a Huntsman will kill you and himself.</dd>
</dl>
<h4>Active and Persistent</h4>
<dl>
  <dt>Demonic Eye</dt>
  <dd>Shows the holder who is blighted. It also allows them to remove blight from one player a night.</dd>
  <dt>Gauntlet of Blight</dt>
  <dd>Used by the holder to blight one person per night.</dd>
  <dt>Heart of Hades</dt>
  <dd>Used to kill all of the players who have been blighted.</dd>
  <dt>Hell Helm</dt>
  <dd>Shows the holder all the messages a player sends during the night.</dd>
  <dt>Holy Lights</dt>
  <dd>These must be passed to a different player every night. They will light up if everyone holding a light is Village-aligned.</dd>
  <dt>Manacles of Spite</dt>
  <dd>Allows the holder to role-block a player every night. However, it also role-blocks the holder when it is used.</dd>
  <dt>Martyr's Crown</dt>
  <dd>Redirects a kill from the target to the holder, killing the holder. Protection is unable to block the kill.</dd>
  <dt>Sceptre of Darkness</dt>
  <dd>Allows the holder to make a target person appear as a Demon for the rest of the game.</dd>
</dl>
<h4>Passive and Consumable</h4>
<dl>
  <dt>Ankh of Reincarnation</dt>
  <dd>If you are killed at night whilst holding the Ankh, you will be revived a day later.</dd>
  <dt>Ankh of Retribution</dt>
  <dd>If you are killed at night whilst holding the Ankh, the player who killed you will be murdered the following night. However, protection is able to block the attack.</dd>
  <dt>Ankh of Possession</dt>
  <dd>If you are killed at night whilst holding the Ankh, you will swap bodies with your killer the following night.</dd>
  <dt>Heart of Fenrir</dt>
  <dd>Gives the holder night immunity. However, if all the wolves are dead, it turns the holder into an Omegawolf.</dd>
  <dt>Iron Collar</dt>
  <dd>Protects the holder from a single lynch.</dd>
  <dt>Plot Armour</dt>
  <dd>Protects the holder from a single night kill (used at Mod's discretion).</dd>
  <dt>Rusty Armour</dt>
  <dd>Has a 50% chance to protect the holder from a single night kill.</dd>
  <dt>Steel Armour</dt>
  <dd>Protects the holder from a single night kill.</dd>
  <dt>Warg's Bracer</dt>
  <dd>If the holder is killed by the Wolfpack, the holder will become a wolf (similar to the Bloodmoon Cult).</dd>
  <dt>Wolf Pelt</dt>
  <dd>Protects the holder from a single night kill, but it will make them look like a wolf to the Seer.</dd>
</dl>
<h4>Passive and Persistent</h4>
<dl>
  <dt>Abysmal Armour</dt>
  <dd>Role-blocks the holder every night.</dd>
  <dt>Abyssal Armour</dt>
  <dd>Gives the holder night immunity, but it will make them look like a Demon to the Seer.</dd>
  <dt>Amulet of Peace</dt>
  <dd>Role-blocks the holder if they are a killer. Role-blocks any visitors to the holder if they too are killers. The holder's votes during the day carry no weight, but it protects the holder from a lynch. The Amulet must be passed every night.</dd>
  <dt>Demonicron</dt>
  <dd>For each demonic relic in the game, the Demonicron will give a report about the alignment of the player that's holding it.</dd>
  <dt>Disruption Orb</dt>
  <dd>Role-blocks anyone who visits the holder that isn't night immune. However, it will role-block you every night as well.</dd>
  <dt>Dreamcatcher</dt>
  <dd>Tells the holder who visited them at night.</dd>
  <dt>Ethereal Armour</dt>
  <dd>Removes any negative effects that the holder has in the morning e.g. poison.</dd>
  <dt>Idol of Anubis</dt>
  <dd>Notifies the holder when any hidden revives take place e.g. Necromancer swap.</dd>
  <dt>Invisibility Cloak</dt>
  <dd>Hides the holder's visits from roles such as the Stalker, Harlot or Insomniac.</dd>
  <dt>Magi's Circlet</dt>
  <dd>Role-blocks any visitors to the holder who use Witchcraft.</dd>
  <dt>Philosopher's Stone</dt>
  <dd>If held for two consecutive nights, it will give the holder a random potion. Also, if the holder is an alchemist, it refreshes their ability every three nights.</dd>
  <dt>Relic Hunter's Journal</dt>
  <dd>Notifies the holder each night as to the location of a powerful relic. It will give the alignment of a player who holds one or if it's in the Graveyard.</dd>
  <dt>Ring of Tenacity</dt>
  <dd>Prevents the holder from being role-blocked.</dd>
  <dt>Veil of Shadows</dt>
  <dd>Makes the holder appear innocent to intel roles like the Seer, Witch Hunter and Adjudicator.</dd>
</dl>

<h3>Runes</h3>
<p>Runes are active and persistent items, they do not disappear from the game when they are used.</p>
<p>Once a rune is used, it needs to be recharged and will only be available for use by the user three nights later.</p>
<p>However, if the holder passes a used rune to another player, it will be usable again immediately.</p>
<p>All runes make the holder appear to use Witchcraft</p>

<dl>
  <dt>&Aacute;rvekni Rune</dt>
  <dd>Allows the holder to see all visits to a target players.</dd>
  <dt>Avleda Rune</dt>
  <dd>Allows the holder to redirect all visits to a target player to himself.</dd>
  <dt>Fela Rune</dt>
  <dd>Allows the holder to make a player invisible for that night - hiding them from stalker and harlot checks. Cannot target self.</dd>
  <dt>Fj&auml;t Rune</dt>
  <dd>Allows the holder to stalk a player at night, seeing any players they visit.</dd>
  <dt>Hv&iacute;sla Rune</dt>
  <dd>Allows the holder to message their target player anonymously the following night.</dd>
  <dt>Sj&oacute;n Rune</dt>
  <dd>Allows the holder to check a player's alignment.</dd>
  <dt>T&ouml;frar Rune</dt>
  <dd>Allows the holder to check if a player uses Witchcraft.</dd>
</dl>
