@model dynamic

@{
    ViewBag.Title = "Victory Conditions | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Victory Conditions</h2>

<p>Every faction in the game has certain victory conditions. Once the conditions are met the game will end in a victory for the corresponding faction.
Most factions win by reaching parity with the Village (with some extra conditions). Parity is reached when the number of players in a certain faction is at least half of the total alive player count.
A game will continue running until a faction has accomplished all their victory conditions. There is only one faction that can win per game, there are no shared victories or draws possible.</p>

<p>The victory conditions are checked at dawn and nightfall, after a possible lynch is executed (nightfall) or after all kills and/or revives are reported to the village (dawn).
If the game ends a public message will be broadcasted, and the players will be talk to each other in the post-game lobby. The players' account names now appear next to their characters' names, and the role they had appear in the sidebar.</p>

<p>A faction wins right after dawn or nightfall, if all the listed conditions are met:</p>


<h3>The Village</h3>
<ul>
  <li>Lynch all members of evil factions.</li>
    <ul>
      <li>Puppets and Zombies do not have to be killed for this condition to be met.</li>
    </ul>
</ul>

<h4>Illuminati</h4>
<ul>
  <li>The Illuminati win with the village assuming the following additional conditions are also met (The rest-of the village will still win if they are not met):</li>
  <ul>
    <li>Ensure that there are only 0 or 1 Masons remaining.</li>
  </ul>
</ul>

<h4>Inquisition</h4>
<ul>
  <li>The Inquisition win with the village assuming the following additional conditions are also met (The rest-of the village will still win if they are not met):</li>
  <ul>
    <li>Ensure that there are no Witchcraft users remaining.</li>
  </ul>
</ul>

<h3>The Wolfpack</h3>
<ul>
  <li>Reach parity with the Village.</li>
  <li>Kill all Vampires, Coven members, Undead and/or <em>other evil creatures</em>: as long as any member of one of these factions is alive, the Werewolves cannot win.</li>
  <ul>
    <li>Puppets and Zombies do not count as players for this parity check.</li>
  </ul>
</ul>

<h3>The Coven</h3>
<ul>
  <li>Reach parity with the Village.</li>
  <li>Kill all Vampires, Werewolves, Undead and/or <em>other evil creatures</em>: as long as any member of one of these factions is alive, the Coven cannot win.</li>
    <ul>
      <li>Puppets and Zombies do not count as players for this parity check.</li>
    </ul>
</ul>

<h3>The Vampires</h3>
<ul>
  <li>For every basement separately: reach parity with the Village (one basement is one Vampire (Master) and their Familiar(s)).
  <li>Vampires can win through parity even if Werewolves, Coven members and/or Undead are still present, but no <em>other evil creatures</em> are allowed to be alive if victory is to be achieved.</li>
    <ul>
      <li>Puppets count as players for this parity check.</li>
      <li>If the Vampire is not alive, their Familiars count as members of the village in the parity check for other factions. Familiars alone cannot prevent another faction from winning through parity.</li>
    </ul>
</ul>

<h3>The Undead</h3>
<ul>
  <li>Reach parity with the Village.</li>
  <li>Kill all Werewolves, Vampires, Coven members, and/or <em>other evil creatures</em>: as long as any member of one of these factions is alive, the Undead cannot win.</li>
  <ul>
    <li>Puppets and Zombies do not count as players for this parity check.</li>
  </ul>
</ul>
