@model dynamic

@{
    ViewBag.Title = "Blood Priest (Bloodmoon Cult) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Blood Priest</h2>

<p>The Blood Priest is a member of the Bloodmoon Cult with the ability to mark players with the Rite of Fenrir. If a player marked with this is killed the same night, they will be converted into a Werewolf.</p>

<h3>Role Type</h3>
<ul>
	<li>The Blood Priest is afflicted with Lycanthropy.</li>
    <li>The Blood Priest is seen as member of the Wolfpack by the Seer.</li>
    <li>The Blood Priest is seen as a user of witchcraft.</li>
    <li>The Blood Priest is seen visiting by the Harlot/Stalker/Familiar.</li>
    <li>The Blood Priest is not seen as a killer by the Adjudicator.</li>
 </ul>

<h3>Notes</h3>
<ul>
    <li>Only players afflicted with Lycanthropy can be marked.</li>
    <li>The Blood Priest can help the wolves convert village members into Wolfpack to bolster their ranks.</li>
    <li>The player marked by the Rite of Fenrir must be killed the same night that they are marked.</li>
</ul>

<h3>Tips for playing Blood Priest</h3>
<ul>
    <li>If the Blood Priest manages to get another cult member converted, then they can then help with picking future targets and wolf kills, so it may be worth coming up with a plan for this eventuality and how you would go about signalling between the factions.</li>
</ul>

<h3>History</h3>
<p>2019-01-01: Blood Priest introduced in ext-300</p>
