@model dynamic

@{
    ViewBag.Title = "Cult Follower (Bloodmoon Cult) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Cult Follower</h2>

<p>The Cult Follower can follow one player during the night. In the morning, the Cult Follower will get a report telling them who their target visited last night.</p>

<h3>Role Type</h3>
<ul>
     <li>The Cult Follower is seen as member of the Wolfpack by the Seer.</li>
     <li>The Cult Follower is not seen as a user of witchcraft.</li>
     <li>The Cult Follower is seen visiting by the Harlot/Familiar/Stalker.</li>
     <li>The Cult Follower is not seen as a killer by the Adjudicator.</li>
 </ul>

<h3>Notes</h3>
<ul>
    <li>The Cult Follower is free to choose the same target multiple nights in a row.</li>
    <li>The Vampire's Familiar has a nightly ability identical to the Cult Follower. These roles also receive the same morning report.</li>
    <li>The Cult Follower cannot observe some (parts of) abilities that are used on (living) players. These are the Djinn-swap and the target to which a Succubus redirects another player. So if a Djinn is stalked no visit is reported, and if a Succubus is stalked, the Succubus is only seen visiting the person they're redirecting, not the person they're redirecting to.</li>
    <li>Roles that "visit themselves" are not seen by the Cult Follower. These include: the Messiah, the Tarot Reader, and the Shapeshifter. The Protector and Shaman can visit themselves if they use their defensive ability on themselves. It is also possible for a Succubus to redirect someone to themselves, making them appear self-visiting.</li>
    <li>If the Cult Follower targets the 'killing wolf' they will get a report their target visited the person who died in the night. All other Wolfpack members are not necessarily seen visiting this target (it is still possible for Wolfpack members to be seen visiting the same/another player because of abilities they have used). For an explanation of how the Wolfpack's kill system works, see the corresponding section in the Factions page.</li>
</ul>

<h3>Tips for playing Cult Follower</h3>
<ul>
    <li>In a game with only Wolfpack and Village, the Cult Follower can be an effective fake-stalker.</li>
    <li>The Cult Follower can hint themselves to the Wolfpack by clearing one of their members if they know who they are.</li>
</ul>

<h3>History</h3>
