@model dynamic

@{
    ViewBag.Title = "Banshee (The Undead) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Banshee</h2>

<p>The Banshee is a member of the Undead. They have no abilities until they are killed, at which point they are able to possess a living player for the duration of one day phase</p>

<h3>Notes on the Banshee</h3>
<ul>
    <li>The Banshee uses witchcraft</li>
</ul>

<h3>History</h3>
<p>2018-07-17: Banshee introduced in und-001</p>
