@m@model dynamic

@{
    ViewBag.Title = "Banshee (The Undead) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Banshee</h2>

<p>The Banshee is a member of the Undead. They can possess a person for the duration of one day phase once killed</p>

<h3>Role Type</h3>
<ul>
    <li>The Banshee is seen as a member of the Undead by the Seer.</li>
    <li>The Banshee is seen as a user of Witchcraft.</li>
    <li>The Banshee is seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h3>Notes on the Banshee</h3>
<ul>
    <li>As long as the Banshee is dead, their powers are activated</li>
    <li>The Banshee is unable to possess the same target consecutively for 2 days in a row</li>
    <li>If the Banshee targets a player protected by a Protector/Huntsman, the possession will fail</li>
</ul>

<h3>Tips for playing the Banshee</h3>

<ul>
    <li>For some general tips on how to play as a member of the Undead, look at the corresponding section in the 'Factions' page</li>
</ul>

<h3>History</h3>

<p>2018-07-17: Banshee introduced in und-001</p>
