@model dynamic

@{
    ViewBag.Title = "Ghoul (The Undead) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Ghoul</h2>

<p>The Ghoul is a member of the Undead. The Ghoul can consume powers from a dead player and then use them the following night.</p>
<p>The Ghoul may consume a deceased Undead player, changing the Ghoul into the target's role and the target into a Wight.</p>

<h3>Role Type</h3>
<ul>
    <li>The Ghoul is seen as a member of the Undead by the Seer.</li>
    <li>The Ghoul is not seen as a user of Witchcraft.</li>
    <li>The Ghoul is seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h3>Notes on the Ghoul</h3>
<ul>
    <li>The Ghoul can not consume the same player twice.</li>
    <li>The Ghoul cannot consume a dead player consumed by another Ghoul on the same night</li>
    <li>If the Ghoul feeds on a killing role, they are granted a kill the next night (killing roles include all wolf roles, Huntsman, Militia and Witch Hunters)</li>
    <li>If the Ghoul feeds on a witch craft role, they are granted a role check</li>
    <li>If the Ghoul feeds on any other role, they are granted a stalk</li>
    <li>The Ghoul can choose to hold on to their newly-granted power until they decide to use it</li>
</ul>

<h3>Tips for playing Ghoul</h3>
<ul>
    <li>Like all members of the Undead, the Ghoul is still able to hear their faction night chat whilst in the Graveyard. If there is a Medium alive this can allow passing of information to/from the dead.</li>
    <li>If the Medium is alive they can help pick players to consume based on information from the Graveyard chat.</li>
</ul>

<h3>Loaded Ghouls</h3>
<p>Occasionally you may encounter some loaded Ghouls.</p>
<p>These Ghouls are granted a power from the first night, compared to the Ghoul which has to feed on a dead player before it is granted a power.</p>

<h4>Hungry Ghoul</h4>
<ul>
    <li>Granted a kill from the first night</li>
</ul>

<h4>Enchanted Ghoul</h4>
<ul>
    <li>Granted a role check from the first night</li>
</ul>

<h4>Cunning Ghoul</h4>
<ul>
    <li>Granted a stalk check from the first night</li>
</ul>

<h3>History</h3>
<p>2018-01-01: Ghoul introduced in ext-200</p>
