@model dynamic

@{
    ViewBag.Title = "Voodoo Doctor (The Undead) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Voodoo Doctor</h2>

<p>The Voodoo Doctor is a member of the Undead. During the day they have control over a Zombie that they can swap identities with. Every second day the zombie dies and a new Zombie must be created.</p>

<h3>Notes on the Voodoo Doctor</h3>
<ul>
    <li>During the day the Voodoo Doctor can swap identities between themselves and their Zombie.</li>
    <li>Your Zombie will die on even numbered nights</li>
    <li>On even numbered nights the Voodoo Doctor can choose a living enemy player to Zombify. This player will die in the old Zombies body and the Voodoo Doctor will have control over the player's old identity</li>
    <li>Like with Puppets, votes cast by the Zombie will be seen by other players, but they do not count at the end of the day</li>
</ul>

<h3>Tips for playing Voodoo Doctor</h3>
<ul>
    <li>Like all members of the Undead, the Voodoo Doctor is still able to hear their faction night chat whilst in the Graveyard. If there is a Medium alive this can allow passing of information to/from the dead.</li>
    <li>The village will only see kills made by the Voodoo Doctor 1-2 days later than when the kill actually happened but the Graveyard will be aware of the kill+swap much quicker.</li>
    <li>If the Zombie is killed, the Voodoo Doctor will still be able to Zombify another player when the time comes. This makes them great cannon fodder if other members of the Undead are under fire.</li>
    <li>On days that the Zombie is due to die, the Voodoo Doctor can make riskier plays than they might normally, as they do not need to worry about longevity</li>
</ul>

<h3>History</h3>
<p>2018-01-01: Voodoo Doctor introduced in ext-200</p>
