@model dynamic

@{
    ViewBag.Title = "Wight (The Undead) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Wight</h2>

<p>The Wight is a member of the Undead. They have no abilities. They are equivalent to the role 'Villager' except Undead-aligned.</p>

<h3>Notes on the Wight</h3>
<ul>
    <li>If a witchcraft using Undead role (such as Banshee or Necromancer) is purged or purified they will become a Wight</li>
    <li>If an Undead role is consumed by a Ghoul they will become a Wight</li>
</ul>

<h3>History</h3>
<p>2018-07-17: Wight introduced in und-001</p>
