@model dynamic

@{
    ViewBag.Title = "Acolyte (The Coven) | third party faction in werewolf and mafia | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Acolyte</h2>

<p>The Acolyte is a member of the Coven. They have no abilities. They are equivalent to the role 'Villager' except Coven-aligned.</p>

<h3>Role Type</h3>
<ul>
    <li>The Acolyte is seen as a member of the Coven by the Seer.</li>
    <li>The Acolyte is seen as a user of witchcraft.</li>
    <li>The Acolyte is not seen visiting by the Harlot/Stalker/Familiar.</li>
    <li>The Acolyte is not seen as a killer by the Adjudicator.</li>
</ul>

<h3>Notes on the Acolyte</h3>
<ul>
    <li>If a Coven role is purged or purified they will become an Acolyte and lose all other special abilities.</li>
    <li>If a Puppet is purified they will no longer be able to be controlled by the PuppetMaster and will eventually die.</li>
    <li>If a PuppetMaster is purified they will no longer be able to control their Puppets and the Puppet will eventually die.</li>
</ul>

<h3>Tips for playing Acolyte</h3>
<ul>
    <li>For some general tips on how to play as a member of the Coven, look at the corresponding section in the 'Factions' page.</li>
</ul>


<h3>History</h3>
<p>2018-01-01: Acolyte introduced in ext-200</p>
