@model dynamic

@{
    ViewBag.Title = "Warlock (The Coven) | third party faction in werewolf and mafia | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Warlock</h2>

<p>The Warlock is a  member of the Coven. Their ability allows them to identify and track those who do not use witchcraft. In future nights, the Warlock may elect to kill a previously found non-witchcraft user.</p>

<h3>Role Type</h3>
<ul>
    <li>The Warlock is seen as a member of the Coven by the Seer.</li>
    <li>The Warlock is seen as a user of witchcraft.</li>
    <li>The Warlock is seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>


<h3>Notes</h3>
<ul>
    <li>Once a non-witchcraft user is a found, their name will be highlighted in red the following night. The mark lasts the entire game.</li>
    <li>A subsequent visit to a marked non-witchcraft user will kill them.</li>
    <li>The Warlock's kill ignores protection (Shaman, Protector, Huntsman).</li>
    <li>Non-Witchcraft users can be traced through shapeshifts and Djinn-swaps. However, the marks on players are not unique, so any identity-swaps between two marked players will remain invisible.</li>
    <li>Dead players lose their mark, but if a once-marked player is revived their mark will also return.</li>
    <li>If a Warlock loses their ability (because they are purged by the Alchemist or the Purifier) their marks will still appear in the night, but they are no longer updated. This means that you can no longer spot the swapping of identities.</li>
</ul>

<h3>Tips for playing Warlock</h3>
<ul>
    <li>As a Warlock, you may be able to pretend to be a WitchHunter (as you will know if someone uses witchcraft or not), although you will not be able to kill these witchcraft users.</li>
    <li>A Warlock can be an effective killing tool for the Coven, so you may want to try to stay hidden as long as possible to allow you to keep killing.</li>
</ul>

<h3>History</h3>
<p>2019-01-01: Warlock introduced in ext-300</p>
