@model dynamic

@{
    ViewBag.Title = "Acolyte (Coven) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Acolyte</h2>

<p>The Acolyte is a member of the Coven. They have no abilities. They are equivalent to the role 'villager' except coven aligned.</p>

<h3>Tips for playing Acolyte</h3>
<ul>
    <li>You can blend in as a plain villager based on your lack of ability and being a non-WCU. Seers can still find you</li>
</ul>

<h3>Notes on the Acolyte</h3>
<ul>
    <li>If a coven role is purged they will become an acolyte.</li>
    <li>Acolytes appear as coven to a seer and non-WCU to the witch-hunter/inquisitor.</li>
</ul>

<h3>Role Text</h3>
<p>When a coven is purged they recieve the message <strong>"You feel icky"</strong></p>

<h3>History</h3>
<p>2018-01-01: Acolyte introduced in EXT-200</p>
