@model dynamic

@{
    ViewBag.Title = "Acolyte (The Coven) | third party faction in werewolf and mafia | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Acolyte</h2>

<p>The Acolyte is a member of the Coven. They have no abilities. They are equivalent to the role 'Villager' except Coven-aligned.</p>

<h3>Tips for playing Acolyte</h3>
<ul>
    <li>Even though you you have no special abilites, you will still be seen as a witchcraft user and a member of The Coven</li>
</ul>

<h3>Notes on the Acolyte</h3>
<ul>
    <li>If a Coven role is purged or purified they will become an Acolyte and lose all other special abilities.</li>
    <li>Acolytes appear as Coven to a Seer and as witchcraft users/heretics to the WitchHunter/Inquisitor.</li>
</ul>

<h3>History</h3>
<p>2018-01-01: Acolyte introduced in ext-200</p>
