@model dynamic

@{
    ViewBag.Title = "Courtesan (Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Courtesan</h2>

<p>The Courtesan is a member of the Village. Each night they may visit a single living player and block them from using their ability at night. In the morning the target recieves a message indicating they have been blocked.</p>

<h3>Tips for playing Courtesan</h3>
<ul>
    <li>The courtesan appears and acts very much like the Direwolf. Make sure your choices on who to block reflect that you are village aligned.</li>
    <li>Choose your targets carefully - you are likely to block a village role if you pick randomly.</li>
</ul>

<h3>Notes on the Courtesan</h3>
<ul>
    <li>The Courtesan appears as a villager to the seer and is not a witchcraft user.</li>
    <li>The Courtesan is seen visiting by intel roles.</li>
    <li>The Courtesan cannot block a Succubus, Djinn or Vampire. They may block a Sleepwalker and Insomniac, even though these roles may not even be aware that they had a special ability at all.</li>
    <li>The Courtesan can be redirected by a Succubus.</li>
    <li>The Courtesan's block renders their target's ability not used, even if the target had activated their ability. This means that limited-use abilities are not depleted if they are activated but blocked by the Courtesan. In addition, roles can target the same player twice even if their ability does not usually allow it (e.g. the Protector), if they were roleblocked.</li>
</ul>

<h3>Role Text</h3>
<ul>
    <li><strong>The target of the courtesan receives a meassage in the morning: """"""</strong></li>
</ul>

<h3>History</h3>
<p>2018-01-01: Courtesan introduced in EXT-100</p>
