@model dynamic

@{
    ViewBag.Title = " Coven | third party faction in werewolf and mafia | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>The Coven</h2>

<p>The Coven are a third party who specialise in creating chaos and confusion in the game. They have limited kill power and rely on manipulation to win the game.</p>
<p>If the Coven is in the game then the Werewolves and the Village must eliminate all the Coven players to win, in addition to their normal win conditions.</p>
<p>The Coven win by killing all werewolves (and vampires) and by reaching parity with the remaining villagers.</p>

<ul>
    <li>The Seer's check will reveal a member of the Coven</li>
    <li>The Gravedigger's check will reveal the full role of a Coven member (as normal)</li>
    <li>The Bloodhound's check will reveal the full role of a Coven member (as normal)</li>
    <li>Coven members can be killed at night</li>
</ul>
