@model dynamic

@{
    ViewBag.Title = "Direwolf (The Wolfpack) | werewolv.es | Werewolf and Mafia Roles";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Direwolf</h2>

<p>The Direwolf is an imposing werewolf whose mere presence causes terror amongst those nearby. The Direwolf is able to block a player from using their ability at night. The Direwolf is also able to mislead any Seer who checks them.</p>

<h3>Tips for playing Direwolf</h3>
<ul>
    <li>For some general tips on how to play as a member of the Wolfpack, look at the corresponding section in the 'Factions' page.</li>
    <li>Not being detected by a Seer, the Direwolf has some more freedom in their playing style. You may become a controversial character only to have you cleared by a Seer (and thereby giving the Wolfpack a kill target).</li>
    <li>Some players are wary of the Direwolf, and in these situations being seen as village member alone will not guarantee your safety - especially if there are reports of Direwolf activity in the village. This is one of the reasons why some Direwolves wait until later in the game with using their ability.</li>
    <li>The Direwolf is effective if they can block protective and/or visit detection roles, allowing the Wolfpack to kill valuable village members unhindered and without fear of being caught.</li>
    <li>The Direwolf appears and acts very much like the Courtesan. It can be hard for the village to tell them apart.</li>
</ul>

<h3>Notes</h3>
<ul>
    <li>The Direwolf is seen as a member of the village by the Seer.</li>
    <li>The Direwolf is not seen as a user of witchcraft by the Witch Hunter.</li>
    <li>The Direwolf is seen visiting by the Harlot/Stalker/Familiar.</li>
    <li>The Direwolf does not attack their target and therefore does not trigger abilities like that of the Huntsman or Shaman.</li>
    <li>If there are no killing wolves left in the Wolfpack, the Direwolf will become a normal Werewolf. The Direwolf is the last to revert, the Bloodhound and Bloodletter reverting first.</li>
    <li>The Direwolf cannot block a Succubus, Djinn, Omegawolf, Vampire or Vampire Master. The Direwolf may block a Sleepwalker and Insomniac, even though these roles may not even be aware that they had a special ability at all.</li>
    <li>A Direwolf can be redirected by a Succubus.</li>
    <li>If the target of the Direwolf's block used their ability, then it will be as if it was not used. (This means that limited-use abilities are not depleted if they are activated but blocked and roles that normally can not target the same player twice will be able to retarget their attempted target.)</li>
</ul>

<h3>Role Text</h3>
<ul>
    <li>The target of the courtesan receives a meassage in the morning: <strong>"You were role-blocked last night, your night action did not take place."</strong> - even if they did not use their ability, or did not have an ability to be blocked.</li>
</ul>
