@model dynamic

@{
    ViewBag.Title = "Drunk (Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Drunk</h2>

<p>The Drunk is a member of the Village who does not currently know their actual role.</p>

<h3>Notes on the Drunk</h3>
<ul>
    <li>Until such time as the Drunk sobers up they are a member of The Village, and win/lose as such.</li>
    <li>Once the Drunk sobers up, they fully-embrace their new role and faction and win/lose as that faction.</li>
</ul>

<h3>Tips for playing Grand Vizier</h3>
<ul>
    <li>There is no fixed-time for when the Drunk will sober up, nor any guarantee as to which faction/role they sober up into - so you can use this to your advantage if you sober up into a non-Village2 faction.</li>
</ul>

<h3>History</h3>
<p>2018-01-01: Drunk introduced in ext-200</p>
