@model dynamic

@{
    ViewBag.Title = "The Furie (Coven) | third party faction in werewolf and mafia | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>The Furie (Coven)</h2>

<p>The Furie is a member of the coven who blends offense and defense. Their night ability is based on whether or not the village lynches that day.<p>
<p>If the village has lynched a player during the day, the Furie's visit that night will <i>protect</i>.</p>
<p>If the village did not lynch a player during the day, the Furie's visit that night will <i>kill</i>.</p>
<p>The protection ability is the same as the village Protector (see protector page for interactions with other roles).</p>
<p>The kill abiility is the same as a regular wolf (see werewolf page for interactions with other roles).</p>

<h3>Tips for playing Harpy</h3>
<ul>
    <li>TBD </li>
    <li>Kill enemies, combine with Djinn?, kill puppets?, protect friends, fake militia, WH, protector, ????</li>
</ul>

<h3>Notes on the Harpy</h3>
<ul>
    <li>The Furie does not recieve a power on night 1.</li>
    <li>The Furie cannot visit themselv.es</li>
    <li>The protect ability cannot be used on the same target two nights in a row. </li>
    <li>The kill ability can be blocked by a protector, shaman or huntsman (the last of which will kill you). </li>
</ul>

<h3>Role Text</h3>
<p>One of two messages appears at night time to indicate which ability is active:
<ul>
    <li><strong>"Hulk angry!"</strong> appears if protect is active.</li>
    <li><strong>"Hulk angry!"</strong> appears if kill is active.</li>
</ul>

<h3>History</h3>
<p>2017-11-29: Furie introduced in ent-001</p>
