@model dynamic

@{
    ViewBag.Title = "Ghoul (The Undead) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Ghoul</h2>

<p>The Ghoul is a member of the Undead. Everyone second night the Ghoul can scavenge the graveyard for power to use the following night.</p>

<h3>Notes on the Ghoul</h3>
<ul>
    <li>The Ghoul can not feed from the same player twice.</li>
    <li>If the Ghoul feeds on a killing role, they are granted a kill the next night (Killing roles include all wolf roles, Huntsman, Militia and Witch Hunters)</li>
    <li>If the Ghoul feeds on a witch craft role, they are granted a role check</li>
    <li>If the Ghoul feeds on any other role, they are granted a stalk</li>
    <li>The Ghoul is a non-witchcraft user</li>
    <li>The Ghoul is seen as Undead by the seer</li>
    <li>The Ghoul is seen visiting in all instances of their night action (Sometimes living players, sometimes dead players)</li>
</ul>

<h3>Tips for playing Ghoul</h3>
<ul>
    <li>Like all members of the Undead, the Ghoul is still able to hear their faction night chat whilst in the Graveyard. If there is a Medium alive this can allow passing of information to/from the dead.</li>
    <li>If the Medium is alive they can help pick players to consume based on information from the Graveyard chat.</li>
</ul>

<h3>History</h3>
<p>2018-01-01: Ghoul introduced in ext-200</p>
