@model dynamic

@{
    ViewBag.Title = "Illuminati Lookout (The Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Illuminati Lookout</h2>

<p>The Illuminati Lookout is a member of the Village and the Illuminati and has the ability to see when any other member of the Illuminati is visited.</p>

<h3>Notes on the Illuminati Lookout</h3>
<ul>
    <li>The Illuminati Lookout behaves like a mass-Harlot on all living Illuminati members.</li>
    <li>The Illuminati Lookout will be aware that a visit took place, but not who was actually visited.</li>
    <li>The Illuminati Lookout is seen visiting themselves at night.</li>
</ul>

<h3>Tips for playing Illuminati Lookout</h3>
<ul>
    <li>The Illuminati Lookout is very useful to the Illuminati for helping find people to recruit. (village intel roles who visit the Illuminati without killing are usualyl good recruitment targets).</li>
    <li>The Illuminati Lookout is also useful at finding evil non-killing roles such as Djinns, Succubi or Direwolves who may cause trouble for Illuminati intel roles.</li>
    <li>It can be useful to have code words to let you tell your team members who visited at night without exposing yourself to the rest of the village.</li>
</ul>

<h3>History</h3>
<p>2018-01-01: Illuminati Lookout introduced in ext-200</p>
