@model dynamic

@{
    ViewBag.Title = "Inquisitor (Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Inquisitor</h2>

<p>The Inquisitor is a member of the Village who can do something fancy. They can use the ability <strong>Something</strong> once per game. Ability is like this. It does .</p>

<h3>Tips for playing Inquisitor</h3>
<ul>
    <li>Tip 1</li>
    <li>Tip 2</li>
    <li>Tip 3</li>
</ul>

<h3>Notes on the Inquisitor</h3>
<ul>
    <li>Note 1</li>
    <li>Note 2</li>
    <li>Note 3</li>
</ul>

<h3>Role Text</h3>
<ul>
    <li><strong>Role Text if applicable</strong></li>
</ul>

<h3>History</h3>
<p>2018-01-01: Inquisitor introduced in ext-200</p>
