@model dynamic

@{
    ViewBag.Title = "Lycan Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Lycan</h2>
<p>The Lycan believes they are a regular Villager. Although a member of the village the Lycan is, unfortunately, afflicted with a mild form of Lycanthropy, which will misdirect any Seer who checks them.</p>

<h2>Role Type</h2>
<ul>
    <li>The Lycan is seen as a member of the Wolfpack by the Seer.</li>
    <li>The Lycan is not seen as a user of witchcraft by the Witch Hunter.</li>
    <li>The Lycan is not seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h2>Notes</h2>
<ul>
    <li>There are two ways in which members of the village can be seen as a member of the wolfpack by a Seer: either they are a Lycan, or the Bloodletter has marked them with wolf blood.</li>
    <li>Other village roles will not mistake the Lycan for a wolf. These are: the Gravedigger, Tarot Reader, and Mason Leader. The first 2 will identify you as Lycan, the third will be able to recruit you as normal.</li> 
    <li>The Bloodhound is able to distinguish Villagers from Lycans. They may use it to their advantage when they are claiming to be Seer!</li>
</ul>

<h2>Tips for playing Lycan</h2>
<ul>
     <li>The tips for the Villager apply to the Lycan, as the Lycan will at first think they are a regular Villager!</li>
     <li>Once you are being accused of being a member of the Wolfpack, make sure to reason with the village and discuss all possibilities how you could be seen as a wolf. It may be hard to convince the village not to lynch you.</li>
</ul>
