@model dynamic

@{
    ViewBag.Title = "Maple Wolf (The Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Maple Wolf</h2>

<p>The Maple Wolf is a Werewolf who feels remorse for killing innocents and is trying to live a life of peace.</p>

<h3>Notes on the Maple Wolf</h3>
<ul>
    <li>The Maple Wolf  is aligned to the village and wins with the village.</li>
    <li>The Maple Wolf is seen by the Seer as a member of the wolfpack.</li>
    <li>The Maple Wolf does not use Witchcraft</li>
    <li>The Maple Wolf is unable to speak with other Werewolves at night, or see their messages</li>
    <li>The Maple Wolf can choose to either kill or not to kill each night - but must make a successful kill at least every 3 nights ot they will starve to death.</li>
    <li>The Maple Wolf can kill other Werewolves and Coven, but cannot kill Vampires</li>
    <li>Protective roles such as the Protector, Shaman, and Huntsman can stop the Maple Wolf kill as normal.</li>
    <li>The Huntsman can not differentiate a Maple Wolf from a regular Werewolf and will kill the Maple Wolf and themselves as they would with a Werewolf kill.</li>
    <li>The Maple Wolf can be recruited by Village-aligned sub-factions such as the Masons, Illuminati and Inquisition.</li>
</ul>

<h3>Tips for playing Maple Wolf</h3>
<ul>
    <li>The village will be naturally suspicious of any claimed Maple Wolves as they can not normally differentiate them from regular wolves.</li>
    <li>Getting recruited into one of the Village-aligned sub-factions will allow you to prove yourself as village-aligned</li>
    <li>You must make a successful kill every 3 nights, so try not to leave your killing too long as a protective role can make you go hungry for a night if they protect your target.</li>
</ul>

<h3>History</h3>
<p>2018-01-01: Maple Wolf introduced in ext-200</p>
