@model dynamic

@{
    ViewBag.Title = "The Necromancer (Undead) | third party undead in werewolf and mafia | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>The Necromancer (Undead)</h2>

<p>The Necromancer is a member of the undead who can revive the soul of a player into a new body. They can used the ability <strong>Revive and Kill</strong> once per game. The They must be used together. Revive targets a dead player, kill targets a living player. The effect is that the dead player is revived into the body of the living player, and the living player is killed, and placed into the body of the living player. This is similar to a Shapeshifter's ability.</p>

<h3>Tips for playing Necromancer</h3>
<ul>
    <li>Tip 1</li>
    <li>Tip 2</li>
    <li>Tip 3</li> 
</ul>

<h3>Notes on the Necromancer</h3>
<ul>
    <li>Both actions count as a visit, and are visible to Stalkers/Harlots.</li>
    <li>Note 2</li>
    <li>Note 2</li>
</ul>

<h3>Necromancer Text</h3>
<ul>
    <li><strong>Necromancer Text if applicable</strong></li>
</ul>

<h3>History</h3>
<p>2018-01-01: Necromancer introduced in ext-200</p>
