@model dynamic

@{
    ViewBag.Title = "Necromancer (Undead) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Necromancer</h2>

<p>The Necromancer is a member of the Undead. Once per game they can swap a dead player into the body of a living.</p>

<h3>Notes on the Necromancer</h3>
<ul>
    <li>Once per game, they can revive a dead player into the body of a living player</li>
    <li>The swapped players retain their original roles</li>
    <li>No revive or death messages will be sent to the village</li>
</ul>

<h3>Tips for playing Necromancer</h3>
<ul>
    <li>Like all members of the Undead, the Necromancer is still able to hear their faction night chat whilst in the Graveyard. If there is a Medium alive this can allow passing of information to/from the dead.</li>
</ul>

<h3>History</h3>
<p>2018-01-01: Necromancer introduced in ext-200</p>
