@model dynamic

@{
    ViewBag.Title = " Puppetmaster (The Coven) | third party faction in werewolf and mafia | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Puppetmaster</h2>

<p>The Puppetmaster is a member of the Coven who begins with the game with two 'Puppets'. A Puppet appears and interacts with the village as if they are a real player, but in reality, it is the Puppetmaster that is speaking, or voting, through the Puppet.</p>

<h3>Role Type</h3>
<ul>
    <li>The Puppetmaster is seen as a member of the Coven by the Seer (see Notes).</li>
    <li>The Puppetmaster is seen as a user of witchcraft by the Witch Hunter (see Notes).</li>
    <li>The Puppetmaster is not seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h3>Notes</h3>
<ul>
    <li>The Puppets are revealed not as 'member of the Coven' to the Seer, but as a 'Puppet' instead.</li>
    <li>The Puppets are revealed as users of witchcraft to the Witch Hunter.</li>
    <li>All of the Coven know who the Puppets are.</li>
    <li>The Puppetmaster can freely switch between their own identity and the puppets throughout the day. During the night, the Puppetmaster reverts to their original identity.</li>
    <li>In a game with a Puppetmaster, there will be two more characters at the start of the game than there were players in the lobby before the game. This difference in player count could be seen by anyone observing the number of players right before the start of the game, and therefore the presence of a Puppetmaster is never a secret. A Moderator may therefore publicly declare whether a Puppetmaster is present or not - usually, there are multiple players who are already aware of a Puppetmaster's presence.</li>
    <li>Puppets can be Djinn-swapped or Shapeshifted into as normal.</li>
    <li>Puppet votes look like normal votes but do not count towards lynches.</li>
    <li>If the Puppetmaster is lynched, the Puppets will die in the morning thereafter.</li>
    <li>If the Puppetmaster is killed during the night, the Puppets will live for the day (unable to speak) and die the <em>next</em> morning.</li>
    <li>The Puppetmaster cannot swap bodies into a Puppet to avoid a lynch.</li>
    <li>Dead Puppets cannot be controlled, and they can never speak in the Graveyard. If a Puppet is revived (and the Puppetmaster still lives), the Puppet can be controlled again.</li>
</ul>

<h3>Tips for playing Puppetmaster</h3>
<ul>
    <li>For some general tips on how to play as a member of the Coven, look at the corresponding section in the 'Factions' page.</li>
    <li>Any Puppetmaster should be conscious of how they type from the start of the game - they should do their best to create three separate identities, for themselves and their two Puppets. The village will check for likeness in typing styles between players, and also look at things like activity times and voting patterns.</li>
    <li>If a fellow Coven member is in danger of getting lynched, you can have a Djinn swap them with a Puppet. It is important that the village does not suspect that the Djinn-swap has taken place!</li>
    <li>Generally, the Puppetmaster is less prominently present in the village, while the Puppets are more active - the Puppets are expendable and can therefore be used to carry out more risky strategies.</li>
    <li>Because the Puppets' vote does not count towards a lynch, the village may lynch somebody who they didn't expect to lynch, or the other way around. Use this to your advantage: you might be able to manipulate the lynch on a crucial moment. The downside is that the village may now have a pretty good idea about who the Puppets should be!</li>
</ul>
