@model dynamic

@{
    ViewBag.Title = "Purifier (Village) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Purifier</h2>

<p>The Purifier is a member of the Village who has the ability to exorcise witchcraft from other players.</p>

<h3>Notes on the Purifier</h3>
<ul>
    <li>Once per night you can attempt to purify a player, removing their ability to use Witchcraft.</li>
    <li>Your visit will remove your targets ability if they are a witchcraft user</li>
    <li>You will receive no notification whether your visit was successful or not</li>
    <li>Evil witchcraft users include: All Coven Roles (including Puppets) and Shapeshifters</li>
    <li>Good witchcraft users include: Seers, Protectors, Revivers, Beholders, Tarot Readers</li>
    <li>Coven members will become Acolytes</li>
    <li>Shapeshifters will become normal werewolves</li>
</ul>

<h3>Tips for playing Purifier</h3>
<ul>
    <li>If the Inquisition are in the game, they will be looking for you to help further their cause.</li>
    <li>Purging Coven Members or Shapeshifters will hamper the available night actions of their teams.</li>
    <li>You do not want to randomly use your ability as this can hinder the village ability to gather intel.</li>
</ul>

<h3>History</h3>
<p>2018-01-01: Purifier introduced in ext-200</p>
