@model dynamic

@{
    ViewBag.Title = "Seer Role | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Seer</h2>

<p>Once per night, the Seer can check a player and will learn their alignment in the morning.</p>
<p>Many games are played with a Seer in it, it is considered one of the most powerful and crucial roles on the side of the village.</p>

<h3>Role Type</h3>
<ul>
    <li>The Seer is seen as member of the village by another Seer.</li>
    <li>The Seer is seen as user of witchcraft by the Witch Hunter.</li>
    <li>The Seer is seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h3>Notes</h3>
<ul>
    <li>Your checks reveal alignment, not the full role (this is a difference from the Bloodhound). Puppets are an exception to this, a check on a Puppet will reveal them as a Puppet and not as "a member of the Coven".</li>
    <li>The Seer's report is mistaken if they target a Lycan, or if their target is marked by the Bloodletter.
</ul>

<h3>Tips for playing Seer</h3>
<ul>
    <li>Remember that the wolves are trying to find you and kill you, they'll be likely to target anyone that appears to know more than they should.</li>
    <li>Don't leave it too long to reveal yourself, the earlier you come forward with information, the more likely it is that a Protector and/or Huntsman are alive.</li>
    <li>Don't underestimate the importance of coming forward with verified (living!) villagers, even though you haven't found a wolf. A few verified villagers may be enough of a core for the village to trust to win the game.</li>
</ul>

<h3>Specialist Seers</h3>
<p>Occasionally you may encounter some specialist seers.</p>
<p>From a gameplay perspective these behave as regular seers, but the results you get from your checks may behave differently.</p>
<p>You won't know what type of seer you are on your own, you will need to work together with the village and other seers to figure out which type of specialist seer you are.</p>

<h4>InsaneSeer</h4>
<ul>
    <li> Sees Village (and other roles that appear as village, such as Direwolf) as: member of the Wolfpack
    <li> Sees Wolfpack (and other roles that appear as wolfpack, such as Lycan and Bloodlet targets) as: member of the Village
    <li> Sees Coven as: member of the Village
    <li> Sees Vampires as: member of the Village
</ul>

<h4>ParanoidSeer</h4>
<ul>
    <li> Sees everyone as: member of the Wolfpack
</ul>

<h4>NaiveSeer</h4>
<ul>
    <li> Sees everyone as: member of the Village
</ul>

<h4>ChaoticSeer</h4>
<ul>
    <li> Sees randomly between "member of the Village" and "member of the Wolfpack"
</ul>
