@model dynamic

@{
    ViewBag.Title = "The Undead (Faction) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>The Undead</h2>

<p>The Undead are a new enemy of the village. They have an inconsistant kill power (Relying on Zombification and Ghouls consuming other killers) and can cause a lot of confusion in the village.</p>

<h3>Tips for playing as the Undead</h3>
<ul>
    <li>Try to keep your Medium alive as long as possible as they can provide you with an excellent source of extra information that may not be otherwise available to the rest of the village</li>
    <li>Any risky-plays should be best left to the Zombie as longevity is not a concern.</li>
    <li>The Necromancer's ability to silently revive into another living player's body can turn the tide and allow recovery of an otherwise bad situation.</li>
    <li>The Ghoul is versatile and even if unable to kill is still able to learn valuable information about other players.</li>
    <li>It is generally advantagous to ensure that the village lynches known-killers to ensure that you have a good pool of candidates for consumption by your Ghouls.</li>
</ul>
