@model dynamic

@{
    ViewBag.Title = "Werewolf (Wolfpack) | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Werewolf</h2>

<p>The Werewolf is the standard member of the Wolfpack. They have the ability to kill somebody, and are able to secretly communicate with their teammates, during the night.</p>

<h2>Role Type</h2>
<ul>
    <li>The Werewolf is seen as a member of the Wolfpack by the Seer.</li>
    <li>The Werewolf is not seen as a user of witchcraft by the Witch Hunter.</li>
    <li>The Werewolf is seen visiting by the Harlot/Stalker/Familiar.</li>
</ul>

<h2>Notes</h2>
<ul>
    <li>The Werewolf being the standard Wolfpack role, it is the role to which Shapeshifters revert after their shift, and to which Bloodletters/Bloodhounds/Direwolves revert if there is no killing wolf. Functionally, the Alphawolf is a Werewolf after they have used their 'Enrage' ability, but they do not revert back to a Werewolf.</li>
</ul>

<h2>Tips for playing Werewolf</h2>
<ul>
    <li>For some general tips on how to play as a member of the Wolfpack, look at the corresponding section in the 'Factions' page.</li>
    <li>The Werewolf is a member of the Wolfpack without special abilities other than a nightly kill. In that sense, a Werewolf is less valuable than other members of the Wolfpack - in some occasions it may be beneficial to the Wolfpack if you sacrifice yourself for a team member. For example, it is usually a Werewolf, if present, who acts as the killing wolf. This reduces the risk that a special killing wolf (Alphawolf/Shapeshifter) is caught in the act.</li>
</ul>
