@model dynamic

@{
    ViewBag.Title = "Furie (The Coven) | third party faction in werewolf and mafia | werewolv.es";
    Layout = "~/Areas/Guides/Views/Shared/_Layout.cshtml";
}

<h2>Furie</h2>

<p>The Furie is a member of the Coven who blends offense and defense. Their night ability is based on whether or not the village lynches that day.<p>
<p>If the village has lynched a player during the day, the Furie's visit that night will <i>protect</i>.</p>
<p>If the village did not lynch a player during the day, the Furie's visit that night will <i>kill</i>.</p>


<h3>Role Type</h3>
<ul>
    <li>The Furie is seen as a member of the Coven by the Seer.</li>
    <li>The Furie is seen as a user of witchcraft.</li>
    <li>The Furie is seen visiting by the Harlot/Stalker/Familiar.</li>
    <li>The Furie is seen as a killer by the Adjudicator.</li>
</ul>

<h3>Notes on the Furie</h3>
<ul>
    <li>The Furie does not receive a power on night 1.</li>
    <li>The Furie cannot visit themselves.</li>
    <li>The protection ability is the same as the village Protector (see Protector page for interactions with other roles).</li>
    <li>The kill ability is the same as a regular Werewolf (see Werewolf page for interactions with other roles).</li>
    <li>The protect ability <strong>can</strong> be used on the same target two nights in a row. </li>
    <li>The kill ability can be blocked by a Protector, Shaman or Huntsman (the last of which will kill you). </li>
</ul>

<h3>Tips for playing Furie</h3>
<ul>
    <li>Consider claiming the role of Protector, Witch Hunter or Militia - after all you have some of those abilities (sometimes).</li>
    <li>Kill your enemies, protect your friends, or protect your enemies to avoid suspicion.</li>
    <li>You are at the mercy of whether or not a lynch happens, so try to guide the village towards the outcome you need to get the power you want that night.</li>
    <li>Combine with Harpy for interesting results.</li>
</ul>

<h3>Role Text</h3>
<p>One of two messages appears at night time to indicate which ability is active:
<ul>
    <li><strong>"You are pleased by the lynch. Tonight you will protect the player you choose to visit."</strong> appears if protect is active.</li>
    <li><strong>"The lack of death angers you. Tonight you will kill the player you choose to visit."</strong> appears if kill is active.</li>
</ul>

<h3>History</h3>
<p>2017-11-29: Furie introduced in ent-001.</p>
