name: Deploy Live

on:
  push:
    branches: [site]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and Deploy

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Setup Node
        uses: actions/setup-node@v2.1.2
        with:
          node-version: lts

      - name: Install Packages
        run: npm ci

      - name: Build
        run: npm run build

      - name: Build and Deploy to Docker Registry
        uses: mr-smithers-excellent/docker-build-push@v5
        with:
          image: wwes-public/h2p
          tag: latest
          registry: ${{ secrets.DOCKER_REGISTRY }}
          dockerfile: .github/workflows/Dockerfile.deploy
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Call update webhook
        uses: joelwmale/webhook-action@2.0.2
        env:
          url: ${{ secrets.UPDATE_URL }}
          headers: "{'commit': '${{ github.sha }}'}"
